{% # components v3.0.1 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
{%- comment -%}
  Renders a cart item.

  Accepts:
  - item {line_item} - Cart item to be rendered

  Usage:
  {% render 'cart-item', item: cart.items[0] %}
{%- endcomment -%}

{%- liquid
  assign item = item | default: blank
-%}

<div class="cart__item" data-key="{{ item.key }}">
  <div class="cart__image">
    {% if item.image != blank %}
      <a href="{{ item.url }}" class="image-wrap">
        {%- render 'image-element',
          img: item,
          sizes: '150px',
          alt: item.product.title,
          widths: '180, 360, 540',
          classes: 'animate-instant'
        -%}
      </a>
    {% endif %}
  </div>

  <div class="cart__item-title">
    <a href="{{ item.url }}" class="cart__item-name">
      {{ item.product.title }}
    </a>

    {%- unless item.product.has_only_default_variant -%}
      <div class="cart__item--variants">
        Select options: 
        {%- for option in item.options_with_values -%}
          <div>
            {% comment %} <span>{{ option.name }}:</span>{% endcomment %}
             {% unless option.value == 'No' %}
              {{ option.value }}
             {% endunless %}
          </div>
        {%- endfor -%}
      </div>
    {%- endunless -%}

    {%- if item.selling_plan_allocation != empty -%}
      <div class="cart__item--variants">
        {{ item.selling_plan_allocation.selling_plan.name }}
      </div>
    {%- endif -%}

    {%- assign property_size = item.properties | size -%}

    {% if property_size > 0 %}
      {% for p in item.properties %}
        {%- assign first_character_in_key = p.first | truncate: 1, '' -%}
        {% unless p.last == blank or first_character_in_key == '_' %}
          <div class="cart__item--properties">
            <span>{{ p.first }}:</span>
            {% if p.last contains '/uploads/' %}
              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
            {% else %}
              {{ p.last }}
            {% endif %}
          </div>
        {% endunless %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="cart__item-quantity">
    {%- assign quantity_selector_id = 'cart_updates_' | append: item.key -%}
    <label for="{{ quantity_selector_id }}" class="visually-hidden">
      {% render 't_with_fallback', key: 'labels.quantity', fallback: 'Quantity' %}
    </label>
    {%- render 'quantity-selector',
      id: quantity_selector_id,
      name: 'updates[]',
      value: item.quantity,
      min: 0,
      cart_item_key: item.key
    -%}
  </div>

  <div class="cart__item-remove">
    <a href="{{ routes.cart_change_url }}?id={{ item.key }}&amp;quantity=0" class="text-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
        <path d="M3.28125 4.06055L3.86719 13.4355C3.89502 13.9772 4.28906 14.3731 4.80469 14.3731H10.1953C10.713 14.3731 11.0997 13.9772 11.1328 13.4355L11.7188 4.06055" stroke="#8F8F8F" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2.34375 4.06055H12.6562" stroke="#8F8F8F" stroke-width="0.9375" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M9.60938 5.93555L9.375 12.4981M7.5 5.93555V12.4981M5.39062 5.93555L5.625 12.4981M5.625 4.06055V2.88868C5.62473 2.79627 5.64273 2.70471 5.67797 2.61928C5.71321 2.53385 5.76499 2.45623 5.83034 2.39089C5.89568 2.32554 5.9733 2.27376 6.05873 2.23852C6.14416 2.20328 6.23572 2.18528 6.32812 2.18555H8.67188C8.76429 2.18528 8.85584 2.20328 8.94127 2.23852C9.0267 2.27376 9.10432 2.32554 9.16966 2.39089C9.23501 2.45623 9.28679 2.53385 9.32203 2.61928C9.35727 2.70471 9.37527 2.79627 9.375 2.88868V4.06055H5.625Z" stroke="#8F8F8F" stroke-width="0.9375" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>

  <div class="cart__item-price text-right">
    {% if item.original_price != item.final_price %}
      <span class="visually-hidden">
        {% render 't_with_fallback', key: 'labels.regular_price', fallback: 'Regular price' %}
      </span>
      <small class="cart__price cart__price--strikethrough">
        {%- render 'price', price: item.original_price -%}
      </small>
      <span class="visually-hidden">
        {% render 't_with_fallback', key: 'labels.sale_price', fallback: 'Sale price' %}
      </span>
      <span class="cart__price cart__discount">
        {%- render 'price', price: item.final_price -%}
      </span>
    {% else %}
      <span class="cart__price">
        {%- render 'price', price: item.original_price -%}
      </span>
    {% endif %}

    {%- if item.unit_price_measurement != blank -%}
      {%- capture unit_price_base_unit -%}
        <span class="product__unit-base--{{ section.id }}">
          {%- if item.unit_price_measurement -%}
            {%- if item.unit_price_measurement.reference_value != 1 -%}
              {{ item.unit_price_measurement.reference_value }}
            {%- endif -%}
            {{ item.unit_price_measurement.reference_unit }}
          {%- endif -%}
        </span>
      {%- endcapture -%}

      <span class="product__unit-price">{{ item.unit_price | money }}/{{ unit_price_base_unit }}</span>
    {%- endif -%}

    {%- if item.line_level_discount_allocations != blank -%}
      {%- for discount_allocation in item.line_level_discount_allocations -%}
        <small class="cart__discount">
          {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</small
        >
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>
