<li
data-latitude="{{ block.settings.latitude }}"
data-longitude="{{ block.settings.longitude }}"
data-name="{{ block.settings.name }}"
data-email="{{ block.settings.email }}"
data-address="{{ block.settings.address }}"
data-phone="{{ block.settings.phone }}"
data-website="{{ block.settings.website }}"
data-country="{{ block.settings.country }}"
style="display:{% if forloop_index == 1 %}block;{% else %}none;{% endif %}"
>
<div class="tab-content__item">
  {% comment %} <p>{{ block.settings.name }}</p> {% endcomment %}
  {% comment %} <div class="infos">
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.07675 6.64256C4.23299 6.1304 4.70925 5.75781 5.27254 5.75781H19.2725C19.8358 5.75781 20.3121 6.1304 20.4683 6.64256L12.2725 12.1064L4.07675 6.64256ZM2.52257 6.99408C2.52244 7.00208 2.52242 7.01008 2.52254 7.01807V17.0078C2.52254 18.5266 3.75376 19.7578 5.27254 19.7578H19.2725C20.7913 19.7578 22.0225 18.5266 22.0225 17.0078V7.01804M20.5225 8.4092V17.0078C20.5225 17.6982 19.9629 18.2578 19.2725 18.2578H5.27254C4.58218 18.2578 4.02254 17.6982 4.02254 17.0078V8.4092L11.8565 13.6319C12.1084 13.7998 12.4366 13.7998 12.6886 13.6319L20.5225 8.4092ZM22.0225 6.99411C22.0151 5.48163 20.7868 4.25781 19.2725 4.25781H5.27254C3.75834 4.25781 2.52997 5.48161 2.52257 6.99408" fill="#221551"/>
    </svg>
    <a href="mailto:{{block.settings.email}}">{{ block.settings.email }}</a>
  </div> {% endcomment %}
  <div class="infos">
    {{ block.settings.address }}
  </div>
  {% comment %} <div class="infos">
    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.9204 13.8296C19.816 13.725 19.692 13.6421 19.5555 13.5855C19.4191 13.5289 19.2728 13.4998 19.125 13.4998C18.9773 13.4998 18.831 13.5289 18.6945 13.5855C18.558 13.6421 18.434 13.725 18.3296 13.8296L16.5364 15.6229C15.705 15.3754 14.1536 14.8129 13.1704 13.8296C12.1871 12.8464 11.6246 11.295 11.3771 10.4636L13.1704 8.67036C13.2749 8.56597 13.3579 8.44199 13.4145 8.30551C13.4711 8.16903 13.5002 8.02273 13.5002 7.87498C13.5002 7.72723 13.4711 7.58093 13.4145 7.44445C13.3579 7.30797 13.2749 7.18399 13.1704 7.07961L8.67038 2.57961C8.566 2.47504 8.44202 2.39209 8.30554 2.33549C8.16906 2.27889 8.02276 2.24976 7.87501 2.24976C7.72726 2.24976 7.58096 2.27889 7.44448 2.33549C7.308 2.39209 7.18402 2.47504 7.07963 2.57961L4.02863 5.63061C3.60113 6.05811 3.36038 6.64536 3.36938 7.24498C3.39526 8.84698 3.81938 14.4112 8.20463 18.7965C12.5899 23.1817 18.1541 23.6047 19.7573 23.6317H19.7888C20.3828 23.6317 20.9441 23.3977 21.3694 22.9725L24.4204 19.9215C24.5249 19.8171 24.6079 19.6931 24.6645 19.5566C24.7211 19.4202 24.7502 19.2739 24.7502 19.1261C24.7502 18.9784 24.7211 18.8321 24.6645 18.6956C24.6079 18.5591 24.5249 18.4351 24.4204 18.3307L19.9204 13.8296ZM19.7775 21.3806C18.3735 21.357 13.5698 20.9801 9.79538 17.2046C6.00863 13.4179 5.64188 8.59723 5.61938 7.22136L7.87501 4.96573L10.7843 7.87498L9.32963 9.32961C9.1974 9.46174 9.10018 9.62474 9.04676 9.80387C8.99333 9.98301 8.98538 10.1726 9.02363 10.3556C9.05063 10.485 9.71101 13.5529 11.5785 15.4204C13.446 17.2879 16.5139 17.9482 16.6433 17.9752C16.8261 18.0146 17.0159 18.0073 17.1952 17.954C17.3745 17.9007 17.5375 17.8032 17.6693 17.6704L19.125 16.2157L22.0343 19.125L19.7775 21.3806Z" fill="#221551"/>
    </svg>
    {{ block.settings.phone }}
  </div> {% endcomment %}
  {% comment %} <div class="infos">
    <a href="{{ block.settings.website }}" target="_blank">{{ block.settings.website }}</a>
  </div> {% endcomment %}
</div>
</li>