<div class="product-info-section-conainer" data-template-suffix="{{ product.template_suffix }}">
  <span class="label variant__label">
    Size
  </span>
  <div class="size_picker__container">
    {% assign size_option_name = 'Resolution Size' %}
    {% assign size_option_index = nil %}

    {%- comment -%}
      Find the index of the "Resolution Size" option in the product's options
    {%- endcomment -%}
    {% for option in product.options %}
      {% if option == size_option_name %}
        {% assign size_option_index = forloop.index0 %}
      {% endif %}
    {% endfor %}

    {%- comment -%}
      Loop through variants using the matched option index
    {%- endcomment -%}
    {% if size_option_index != nil %}
      {% for variant in product.variants %}
        <a 
          href="{{ variant.url }}" 
          class="size-picker__item {% if variant.id == product.selected_or_first_available_variant.id %}active{% endif %}">
          <span class="product__title">
            {{ variant.options[size_option_index] }}
          </span>
          <span class="product_option__price">
            {{ cart.currency.iso_code }} {{ variant.price | money }}
          </span>
        </a>
      {% endfor %}
    {% else %}
      <p>No "Resolution Size" option found for this product.</p>
    {% endif %}
  </div>
</div>
