{% # components v3.0.1 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
{%- comment -%}
  Renders a section with a slider to compare two images.

  Accepts:
  - heading {string} - The heading of the section
  - heading_size {'h0'|'h1'|'h2'|'h3'} - The size of the heading
  - heading_position {'left'|'center'|'right'} - The position of the heading
  - height {400-900} - The height of the slider
  - color {color} - The color of the slider button
  - slider_style {'classic'|'minimal'} - The style of the slider
  - full_width {boolean} - Whether the slider should be full width
  - hydration {string} - The hydration strategy of the section

  Usage:
  {% render 'section-image-compare' %}
{%- endcomment -%}

{%- liquid
  assign heading = heading | default: section.settings.heading
  assign heading_size = heading_size | default: section.settings.heading_size | default: 'h2'
  assign heading_position = heading_position | default: section.settings.heading_position | default: 'left'
  assign height = height | default: section.settings.height | default: 600
  assign color = color | default: section.settings.color | default: '#fff'
  assign slider_style = slider_style | default: section.settings.slider_style | default: 'classic'
  assign full_width = full_width | default: section.settings.fullwidth, allow_false: true | default: false, allow_false: true
  assign hydration = hydration | default: 'on:visible'

  assign lazyload_images = true
  if section.index == 1
    assign lazyload_images = false
  endif
  assign bgBrightness = color | brightness_difference: '#000'
  assign hydration = hydration | default: 'on:idle'
-%}

{% style %}
  .comparison-{{ section.id }} {
    aspect-ratio: 1200 / 700;
  }

  /* @media only screen and (max-width: 768px) {
    .comparison-{{ section.id }} {
      height: {{ height | divided_by: 2 }}px;
    }
  } */

  {% if slider_style == 'classic' %}
    .comparison-{{ section.id }} .comparison__button span.button-comparison-slider {
      background-color: {{ color }};
    }

    {% if bgBrightness < 125 %}
      .comparison-{{ section.id }} .comparison__button svg {
        fill: #fff;
      }
    {% else %}
      .comparison-{{ section.id }} .comparison__button svg {
        fill: #000;
      }
    {% endif %}

    .comparison-{{ section.id }} .comparison__button::before {
      height: {{ height | divided_by: 1.3 }}px;
      bottom: 0;
    }

    .comparison-{{ section.id }} .comparison__button::after {
      height: {{ height | divided_by: 1.3 }}px;
      top: 0;
    }
  {% else %}
    .comparison-{{ section.id }} .comparison__button svg {
      fill: {{ color }};
    }

    .comparison-{{ section.id }} .comparison__button::before {
      height: {{ height }}px;
      bottom: 0;
    }

    .comparison-{{ section.id }} .comparison__button::after {
      height: {{ height }}px;
      top: 0;
    }

  {% endif %}
  .comparson-label-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 91;
    display: flex;
    justify-content: space-between;
    padding: 77px 56px;
  }

  .comparson-label-container .comapre-title {
    color: #FFF;
    font-family: "Neurial Grotesk";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
  }

  .compare-desc {
    color: #FFF;
    font-family: "Neurial Grotesk";
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.176px;
  }
  @media only screen and (max-width: 768px) {
    .comparision-slider-section .index-section {
      margin: 30px 0 0;
    }
    .comparson-label-container {
      display:none;
    }
    .comparision-slider-section .index-section .page-width-container {
      padding: 0;
    }
    .comparision-slider-section .comparison {
      margin-bottom: 28px;
    }
    .comparision-slider-section p {
      text-align: center;
      font-size: 14px;
    }
  }
{% endstyle %}

<div class="index-section">

  <div
    class="page-width-container"
  >
    <is-land {{ hydration }}>
      <image-compare
        class="comparison comparison-{{ section.id }} comparison--style-{{ slider_style }}"
        section-id="{{ section.id }}"
      >
        {% for block in section.blocks %}
          {% if forloop.index == 1 %}<div class="comparison__draggable" data-draggable>{% endif %}

          {% if block.settings.image != blank %}
            {%- capture image_classes -%}
              comparison__image comparison__image--{{ forloop.index }} {% if block.settings.blur %}blur{% endif %}
            {%- endcapture -%}
            <div
              class="comparison__image-wrapper"
              {{ block.shopify_attributes }}
              {% if forloop.index == 1 %}
                data-primary-image
              {% else %}
                data-secondary-image
              {% endif %}
            >
              {% comment %}
                Full width image so don't need to adjust sizes attribute, fallback is 100vw
                We could provide sizes (ex. 50% of viewport) only if we were able to update
                the image markup everytime the slider changed
              {% endcomment %}
              {%- liquid
                if forloop.index == 1
                  assign loading = lazyload_images
                else
                  assign loading = true
                endif
              -%}
              {% if block.settings.video != blank %}
                {{
                  block.settings.video
                  | video_tag:
                    autoplay: true,
                    loop: true,
                    controls: false,
                    muted: true,
                    poster: cover_image,
                    class: 'video-compare video-play-in-view'
                }}
              {% endif %}
              
              {%- render 'image-element',
                img: block.settings.image,
                img_width: 2000,
                loading: loading,
                classes: image_classes
              -%}
            </div>
          {% else %}
            {%- render 'placeholder-svg', name: 'image', classlist: 'comparison__image' -%}
          {% endif %}

          {% if forloop.index == 1 %}</div>{% endif %}
        {% endfor %}
        <button class="comparison__button" data-button>
          <span class="button-comparison-slider">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
              <path d="M1.49994 12.2778C1.49994 12.6766 1.16415 13 0.749972 13C0.335791 13 0 12.6776 0 12.2787C0 9.04081 0 3.95919 0 0.721327C0 0.3224 0.335791 0 0.749972 0C1.16415 0 1.49994 0.323353 1.49994 0.722193L1.49994 12.2778ZM6.75002 12.2778C6.75002 12.6766 6.41423 13 5.99995 13C5.58577 13 5.24998 12.6766 5.24998 12.2778L5.24998 0.722193C5.24998 0.323353 5.58577 0 5.99995 0C6.41423 0 6.75002 0.323353 6.75002 0.722193L6.75002 12.2778ZM12 12.2778C12 12.6766 11.6642 13 11.25 13C10.8358 13 10.5 12.6766 10.5 12.2778L10.5 0.722193C10.5 0.323353 10.8358 0 11.25 0C11.6642 0 12 0.323353 12 0.722193L12 12.2778Z" fill="#FAFAFA"/>
            </svg>
          </span>
        </button>
        <div class="comparson-label-container">
          {% for block in section.blocks %}
            <div>
              <div class="comapre-title">{{ block.settings.comparison_heading }}</div>
              <div class="compare-desc">{{ block.settings.comparison_description }}</div>
            </div>
          {% endfor %}
        </div>
      </image-compare>

      <template data-island>
        <script type="module">
          import 'components/section-image-compare'
        </script>
      </template>
    </is-land>
    {% if section.settings.heading_description != blank %}
      <p style="text-align: {{ heading_align }};">{{ section.settings.base_description }}</p>
    {% endif %}
  </div>
</div>
