{%- render 'section-spacing-collapsing' -%}

{%- assign text_position = section.settings.text_position -%}
{%- assign values_column_count = section.blocks | where: 'type', 'values' | size -%}

<style>
  #shopify-section-{{ section.id }} {
    --feature-chart-values-columns-count: {{ values_column_count }};
    {% if section.settings.container_background_image != blank %}
      background-image: url({{ section.settings.container_background_image | image_url }});
      background-size: cover;
      background-position: center;
    {% elsif section.settings.container_background_color != blank %}
      background-color: {{ section.settings.container_background_color }};
    {% endif %}
    padding-top: {{ section.settings.padding_top | default: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | default: 0 }}px;
    padding-left: {{ section.settings.padding_left | default: 0 }}px;
    padding-right: {{ section.settings.padding_right | default: 0 }}px;
  }
  .feature-chart__product img {
    width: {{ section.settings.image_width_percent | default: 80 }}%;
  }
</style>

<div {% render 'section-properties' %}>
  <div class="section-stack {% if text_position == 'center' %}section-stack--center{% elsif text_position == 'end' %}section-stack--reverse{% endif %}">
    {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.content != blank or section.settings.button_text != blank -%}
      <div class="section-stack__intro">
        <div class="prose {% if text_position == 'center' %}text-center{% elsif text_position == 'end' %}text-right{% endif %}" style="color: {{ section.settings.text_color }}; font-size: {{ section.settings.text_font_size | default: 16 }}px;">
          {%- if section.settings.subheading != blank -%}
            <p class="subheading">{{ section.settings.subheading | escape }}</p>
          {%- endif -%}

          {%- if section.settings.title != blank -%}
            <h2 class="h2" style="color: {{ section.settings.heading_color }}; font-size: {{ section.settings.title_font_size | default: 24 }}px;">
              {%- render 'styled-text', content: section.settings.title, text_color: section.settings.heading_color, gradient: section.settings.heading_gradient -%}
            </h2>
          {%- endif -%}

          {{- section.settings.content -}}

          {%- if section.settings.button_text != blank -%}
            {%- render 'button', size: 'lg', href: section.settings.button_url, content: section.settings.button_text, background: section.settings.button_background, text_color: section.settings.button_text_color, style: 'font-size: ' | append: section.settings.button_font_size | append: 'px' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}

    <div class="section-stack__main">
      {%- assign text_color = section.settings.chart_text_color | default: settings.text_color -%}
      {%- assign background_color = section.settings.chart_background -%}
      {%- if background_color == blank or background_color == 'rgba(0,0,0,0)' -%}
        {%- assign background_color = settings.background | color_mix: text_color, 95 -%}
      {%- endif -%}

      <feature-chart max-rows="{{ section.settings.max_rows }}" {% render 'surface', class: 'feature-chart', background: background_color, text_color: text_color %}>
        <div class="feature-chart__table {% if values_column_count > 1 %}feature-chart__table--multi-columns{% endif %} feature-chart__table--product divide-y scroll-area">

          {%- assign headings_block = section.blocks | where: 'type', 'headings' | first -%}
          {%- assign values_blocks = section.blocks | where: 'type', 'values' -%}

          {%- assign product_row -%}
            {%- capture product_row -%}
              {%- for product_column in values_blocks -%}
                {%- if product_column.settings.product != blank -%}
                  {%- assign chart_product = product_column.settings.product -%}
                  <div class="feature-chart__product">
                    {%- if section.settings.viewing_product != blank and request.page_type == 'product' and product == chart_product -%}
                      <span class="badge">{{ section.settings.viewing_product }}</span>
                    {%- endif -%}

                    {%- if section.settings.show_product_image and chart_product.featured_media -%}
                      <a href="{{ chart_product.url }}">
                        {{- chart_product.featured_image | image_url: width: chart_product.featured_image.width | image_tag: widths: '80,150,160,300' -}}
                      </a>
                    {%- endif -%}

                    <div class="v-stack">
                      <div class="v-stack gap-2">
                        <div class="v-stack sm:gap-0.5">
                          {%- if section.settings.show_product_title -%}
                            <a href="{{ chart_product.url }}" class="bold line-clamp">{{ chart_product.title }}</a>
                          {%- endif -%}
                          {%- render 'price-list', product: chart_product, hide_unit_price: true -%}
                          {%- if section.settings.show_product_description -%}
                            <p>{{ chart_product.description | strip_html | truncatewords: 20 }}</p>
                          {%- endif -%}
                        </div>

                        {%- if section.settings.show_product_options -%}
                          {%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
                          {%- for color_label in color_label_list -%}
                            {%- if chart_product.options_by_name[color_label] != blank -%}
                              <div class="h-stack gap-2">
                                {%- for option_value in chart_product.options_by_name[color_label].values -%}
                                  {%- render 'option-value', type: 'swatch', option_value: option_value, url: option_value.variant.url, size: 'sm' -%}
                                {%- endfor -%}
                              </div>
                              {%- break -%}
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endif -%}
                      </div>

                      {%- if section.settings.view_product != blank -%}
                        <div class="feature-chart__view-button-container hidden justify-self-start md:block">
                          {%- render 'button', href: chart_product.url, content: section.settings.view_product, background: product_column.settings.view_button_background, text_color: product_column.settings.view_button_text_color, subdued: true -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            {%- endcapture -%}
          {%- endassign -%}

          {%- if section.settings.show_product_info -%}
            <div class="feature-chart__table-row feature-chart__table-row--product">
              {{- product_row -}}
            </div>
          {%- endif -%}
        </div>
      </feature-chart>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Comparison table",
  "settings": [
    {"type": "text", "id": "subheading", "label": "Subheading"},
    {"type": "text", "id": "title", "label": "Title"},
    {"type": "richtext", "id": "content", "label": "Content"},
    {"type": "text", "id": "button_text", "label": "Button Text"},
    {"type": "url", "id": "button_url", "label": "Button URL"},

    {"type": "select", "id": "text_position", "label": "Text Alignment", "options": [
      {"value": "start", "label": "Left"},
      {"value": "center", "label": "Center"},
      {"value": "end", "label": "Right"}
    ], "default": "start"},

    {"type": "image_picker", "id": "container_background_image", "label": "Background Image"},
    {"type": "color", "id": "container_background_color", "label": "Background Color"},

    {"type": "range", "id": "padding_top", "label": "Padding Top", "min": 0, "max": 100, "default": 0},
    {"type": "range", "id": "padding_bottom", "label": "Padding Bottom", "min": 0, "max": 100, "default": 0},
    {"type": "range", "id": "padding_left", "label": "Padding Left", "min": 0, "max": 100, "default": 0},
    {"type": "range", "id": "padding_right", "label": "Padding Right", "min": 0, "max": 100, "default": 0},

    {"type": "color", "id": "text_color", "label": "Text Color"},
    {"type": "color", "id": "heading_color", "label": "Heading Color"},
    {"type": "color", "id": "button_background", "label": "Button Background Color"},
    {"type": "color", "id": "button_text_color", "label": "Button Text Color"},

    {"type": "range", "id": "image_width_percent", "label": "Product Image Width (%)", "min": 10, "max": 100, "default": 80},

    {"type": "checkbox", "id": "show_product_title", "label": "Show Product Title", "default": true},
    {"type": "checkbox", "id": "show_product_description", "label": "Show Product Description", "default": false},
    {"type": "checkbox", "id": "show_product_options", "label": "Show Product Options", "default": true},
    {"type": "checkbox", "id": "show_product_image", "label": "Show Product Image", "default": true},

    {"type": "range", "id": "title_font_size", "label": "Title Font Size", "min": 10, "max": 48, "default": 24},
    {"type": "range", "id": "text_font_size", "label": "Text Font Size", "min": 10, "max": 30, "default": 16},
    {"type": "range", "id": "button_font_size", "label": "Button Font Size", "min": 10, "max": 30, "default": 16}
  ],
  "blocks": [
    {
      "type": "values",
      "name": "Product",
      "settings": [
        {"type": "product", "id": "product", "label": "Select Product"}
      ]
    }
  ],
  "presets": [
    {
      "name": "Comparison table",
      "blocks": []
    }
  ]
}
{% endschema %}
