<style>
 @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-1 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-1-img {
        width: 100%;
      }

      .cp91-1-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-1 {
        width: 100vw;
        position: relative;
      }

      .cp91-1-img {
        width: 100%;
      }

      .cp91-1-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .img-pc {
        display: none;
      }
    }

  @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-2 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-2-img {
        width: 100%;
      }

      .cp91-2-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-2-title1 {
        width: 100%;
        font-size: 2.5vw;
        font-weight: 800;
        color: #b9ccfc;
        position: absolute;
        top: 1.5625vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-2-title2 {
        width: 100%;
        font-size: 2.5vw;
        font-weight: 800;
        color: #ddf5fd;
        position: absolute;
        top: 5vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-2 {
        width: 100vw;
        margin: 0 auto;
        position: relative;
      }

      .cp91-2-img {
        width: 100%;
      }

      .cp91-2-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-2-title1 {
        width: 100%;
        font-size: 7vw;
        font-weight: 800;
        color: #b9ccfc;
        position: absolute;
        top: 11vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 7vw;
      }

      .cp91-2-title2 {
        width: 100%;
        font-size: 5vw;
        font-weight: 800;
        color: #ddf5fd;
        position: absolute;
        top: 26vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-3 {
        width: 100%; 
        margin: 0 auto;
        position: relative;
      }

      .cp91-3-img {
        width: 100%;
      }

      .cp91-3-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-3-title1 {
        font-size: 3vw;
        font-weight: 800;
        color: #c2d5fe;
        position: absolute;
        top: 1.5625vw;
        left: 50%;
        transform: translateX(-50%);
      }

      .cp91-3-text1,
      .cp91-3-text2,
      .cp91-3-text3,
      .cp91-3-text4 {
        font-size: 1.5vw;
        font-weight: 500;
        color: #fff;
        text-align: center;
      }

      .cp91-3-text1 {
        position: absolute;
        top: 38vw;
        left: 14vw;
        text-align: left;
        line-height: 1.7vw;
      }

      .cp91-3-text2 {
        position: absolute;
        top: 13vw;
        left: 77vw;
        line-height: 1.7vw;
      }

      .cp91-3-text3 {
        position: absolute;
        top: 27vw;
        left: 63vw;
      }

      .cp91-3-text4 {
        position: absolute;
        top: 39vw;
        left: 78vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-3 {
        width: 100vw;
        margin: 0 auto;
        position: relative;
      }

      .cp91-3-img {
        width: 100%;
      }

      .cp91-3-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-3-title1 {
        width: 50%;
        font-size: 6vw;
        font-weight: 800;
        color: #c2d5fe;
        position: absolute;
        top: 6vw;
        left: 8vw;
        line-height: 7vw;
      }

      .cp91-3-text1,
      .cp91-3-text2,
      .cp91-3-text3,
      .cp91-3-text4 {
        font-size: 3vw;
        font-weight: 400;
        color: #fff;
        text-align: center;
      }

      .cp91-3-text1 {
        position: absolute;
        top: 69vw;
        left: 9vw;
        text-align: left;
        line-height: 4vw;
      }

      .cp91-3-text2 {
        position: absolute;
        top: 111vw;
        left: 5vw;
        line-height: 4vw;
      }

      .cp91-3-text3 {
        position: absolute;
        top: 113vw;
        left: 38vw;
      }

      .cp91-3-text4 {
        position: absolute;
        top: 113vw;
        left: 67vw;
      }

      .img-pc {
        display: none;
      }
    }

    @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-4 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-4-img {
        width: 100%;
      }

      .cp91-4-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-4-title1 {
        width: 100%;
        font-size: 3vw;
        font-weight: 800;
        color: #b9ccfc;
        position: absolute;
        top: 1.5625vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-4-title2 {
        width: 100%;
        font-size: 3vw;
        font-weight: 800;
        color: #ddf5fd;
        position: absolute;
        top: 5vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-4 {
        width: 100vw;
        position: relative;
      }

      .cp91-4-img {
        width: 100%;
      }

      .cp91-4-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-4-title1 {
        width: 100%;
        font-size: 5vw;
        font-weight: 800;
        color: #b9ccfc;
        position: absolute;
        top: 7vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-4-title2 {
        width: 98%;
        font-size: 5vw;
        font-weight: 800;
        color: #ddf5fd;
        position: absolute;
        top: 15vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 7vw;
      }

      .img-pc {
        display: none;
      }
    }

      @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-5 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-5-img {
        width: 100%;
      }

      .cp91-5-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-5-title1 {
        font-size: 2.7vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 1.5625vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
      }

      .cp91-5-title2 {
        font-size: 1.5vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-5-text1,
      .cp91-5-text2,
      .cp91-5-text3 {
        font-size: 1.1vw;
        font-weight: 400;
        color: #fafcff;
        text-align: center;
      }

      .cp91-5-text1 {
        position: absolute;
        top: 44vw;
        left: 20.5vw;
      }

      .cp91-5-text2 {
        position: absolute;
        top: 44vw;
        left: 53vw;
      }

      .cp91-5-text3 {
        position: absolute;
        top: 44vw;
        left: 71.5vw;
      }

      .cp91-5-text4 {
        font-size: 2.8vw;
        font-weight: 600;
        color: #f6e7d0;
        position: absolute;
        top: 22vw;
        left: 53.5vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-5 {
        width: 100vw;
        position: relative;
      }

      .cp91-5-img {
        width: 100%;
      }

      .cp91-5-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-5-title1 {
        font-size: 6vw;
        font-weight: 600;
        color: #fff;
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        line-height: 7vw;
      }

      .cp91-5-title2 {
        font-size: 3.5vw;
        font-weight: 400;
        color: #fff;
        position: absolute;
        top: 23vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-5-text1,
      .cp91-5-text2,
      .cp91-5-text3 {
        font-size: 3vw;
        font-weight: 500;
        color: #fafcff;
        text-align: center;
      }

      .cp91-5-text1 {
        position: absolute;
        top: 61vw;
        left: 25vw;
      }

      .cp91-5-text2 {
        position: absolute;
        top: 108vw;
        left: 13vw;
      }

      .cp91-5-text3 {
        position: absolute;
        top: 108vw;
        left: 53vw;
      }

      .cp91-5-text4 {
        font-size: 8vw;
        font-weight: 600;
        color: #f6e7d0;
        position: absolute;
        top: 132vw;
        left: 12.5vw;
      }

      .img-pc {
        display: none;
      }
    }

    @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-6 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-6-img {
        width: 100%;
      }

      .cp91-6-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-6-title1 {
        font-size: 3.5vw;
        font-weight: 800;
        color: #000;
        position: absolute;
        top: 1.5625vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
      }

      .cp91-6-text1,
      .cp91-6-text2,
      .cp91-6-text3,
      .cp91-6-text4,
      .cp91-6-text5,
      .cp91-6-text6,
      .cp91-6-text7 {
        font-size: 1.1vw;
        font-weight: 600;
        color: #000;
        text-align: center;
      }

      .cp91-6-text1 {
        position: absolute;
        top: 16.5vw;
        left: 12vw;
        line-height: 1.4vw;
      }

      .cp91-6-text2 {
        position: absolute;
        top: 33.5vw;
        left: 13vw;
        line-height: 1.4vw;
      }

      .cp91-6-text3 {
        position: absolute;
        top: 13vw;
        left: 27.5vw;
      }

      .cp91-6-text4 {
        position: absolute;
        top: 12vw;
        left: 39.5vw;
        line-height: 1.4vw;
      }

      .cp91-6-text5 {
        position: absolute;
        top: 12vw;
        left: 52.5vw;
        line-height: 1.4vw;
      }

      .cp91-6-text6 {
        position: absolute;
        top: 12vw;
        left: 68vw;
        line-height: 1.4vw;
      }

      .cp91-6-text7 {
        position: absolute;
        top: 13vw;
        left: 81vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-6 {
        width: 100vw;
        position: relative;
      }

      .cp91-6-img {
        width: 100%;
      }

      .cp91-6-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-6-title1 {
        font-size: 6vw;
        font-weight: 800;
        color: #000;
        position: absolute;
        top: 5vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
      }

      .cp91-6-text1,
      .cp91-6-text2,
      .cp91-6-text3,
      .cp91-6-text4,
      .cp91-6-text5,
      .cp91-6-text6,
      .cp91-6-text7 {
        font-size: 3vw;
        font-weight: 600;
        color: #000;
        text-align: center;
      }

      .cp91-6-text1 {
        position: absolute;
        top: 16.5vw;
        left: 41.5vw;
        line-height: 4vw;
      }

      .cp91-6-text2 {
        position: absolute;
        top: 16.5vw;
        left: 74.5vw;
        line-height: 4vw;
      }

      .cp91-6-text3 {
        position: absolute;
        top: 54vw;
        left: 5.5vw;
      }

      .cp91-6-text4 {
        position: absolute;
        top: 68vw;
        left: 6.5vw;
        line-height: 4vw;
      }

      .cp91-6-text5 {
        position: absolute;
        top: 85vw;
        left: 5.5vw;
        line-height: 4vw;
      }

      .cp91-6-text6 {
        position: absolute;
        top: 100vw;
        left: 9vw;
        line-height: 4vw;
      }

      .cp91-6-text7 {
        position: absolute;
        top: 118vw;
        left: 9vw;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-7 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-7-img {
        width: 100%;
      }

      .cp91-7-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-7-title1 {
        width: 100%;
        font-size: 3.5vw;
        font-weight: 800;
        color: #b9ccfc;
        position: absolute;
        top: 3vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-7-title2 {
        width: 100%;
        font-size: 1.8vw;
        font-weight: 400;
        color: #fff;
        position: absolute;
        top: 8vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-7 {
        width: 100vw;
        position: relative;
      }

      .cp91-7-img {
        width: 100%;
      }

      .cp91-7-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-7-title1 {
        width: 100%;
        font-size: 7vw;
        font-weight: 800;
        color: #b9ccfc;
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-7-title2 {
        width: 100%;
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 16vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .img-pc {
        display: none;
      }
    }

      @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-8 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-8-img {
        width: 100%;
      }

      .cp91-8-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-8-title1 {
        font-size: 3vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 2.5vw;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }

      .cp91-8-text1,
      .cp91-8-text2,
      .cp91-8-text3 {
        font-size: 1.4vw;
        font-weight: 500;
        color: #fff;
        text-align: center;
      }

      .cp91-8-text1 {
        position: absolute;
        top: 11.5vw;
        left: 9vw;
      }

      .cp91-8-text2 {
        position: absolute;
        top: 11.5vw;
        left: 43vw;
      }

      .cp91-8-text3 {
        position: absolute;
        top: 11.5vw;
        left: 71vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-8 {
        width: 100vw;
        position: relative;
      }

      .cp91-8-img {
        width: 100%;
      }

      .cp91-8-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-8-title1 {
        font-size: 5vw;
        font-weight: 800;
        color: #c2d5fe;
        position: absolute;
        top: 6vw;
        left: 8vw;
      }

      .cp91-8-text1,
      .cp91-8-text2,
      .cp91-8-text3 {
        font-size: 3vw;
        font-weight: 400;
        color: #fff;
        text-align: center;
      }

      .cp91-8-text1 {
        position: absolute;
        top: 19vw;
        left: 28vw;
      }

      .cp91-8-text2 {
        position: absolute;
        top: 61vw;
        left: 33vw;
      }

      .cp91-8-text3 {
        position: absolute;
        top: 102vw;
        left: 27vw;
      }

      .img-pc {
        display: none;
      }
    }

    @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-9 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-9-img {
        width: 100%;
      }

      .cp91-9-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-9-title1 {
        font-size: 3vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 2.3vw;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-9 {
        width: 100vw;
        position: relative;
      }

      .cp91-9-img {
        width: 100%;
      }

      .cp91-9-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-9-title1 {
        font-size: 6vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 6vw;
        left: 11vw;
        text-align: center;
        width: 78%;
        line-height: 7vw;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-10 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-10-img {
        width: 100%;
      }

      .cp91-10-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-10-title1 {
        font-size: 3vw;
        font-weight: 800;
        color: #000;
        position: absolute;
        top: 2vw;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        text-align: center;
            line-height: 3vw;
      }

      .cp91-10-title2 {
        font-size: 1.5vw;
        font-weight: 500;
        color: #000;
        position: absolute;
        top: 10.5vw;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        text-align: center;
            line-height: 2vw;
      }

      .cp91-10-text1,
      .cp91-10-text2,
      .cp91-10-text3 {
        font-size: 1.2vw;
        font-weight: 500;
        color: #000;
        text-align: center;
      }

      .cp91-10-text1 {
        position: absolute;
        top: 23.5vw;
        left: 42.5vw;
      }

      .cp91-10-text2 {
        position: absolute;
        top: 23.5vw;
        left: 53vw;
      }

      .cp91-10-text3 {
        font-size: 1.1vw;
        font-weight: 600;
        position: absolute;
        top: 52vw;
        left: 31.5vw;
        text-align: center;
        line-height: 1.3vw;
      }

      .cp91-10-text4 {
        font-size: 1.1vw;
        font-weight: 600;
        position: absolute;
        top: 52vw;
        left: 54vw;
        text-align: center;
        line-height: 1.3vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-10 {
        width: 100vw;
        position: relative;
      }

      .cp91-10-img {
        width: 100%;
      }

      .cp91-10-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-10-title1 {
        font-size: 6vw;
        font-weight: 800;
        color: #000;
        position: absolute;
        top: 9vw;
        left: 6vw;
        width: 90%;
        text-align: center;
        line-height: 7vw;
      }

      .cp91-10-title2 {
        font-size: 3.7vw;
        font-weight: 400;
        color: #000;
        position: absolute;
        top: 30vw;
        left: 2vw;
        width: 95%;
        text-align: center;
        line-height: 5vw;
      }

      .cp91-10-text1,
      .cp91-10-text2,
      .cp91-10-text3 {
        font-size: 3vw;
        font-weight: 400;
        color: #000;
        text-align: center;
      }

      .cp91-10-text1 {
        position: absolute;
        top: 58vw;
        left: 32.5vw;
      }

      .cp91-10-text2 {
        position: absolute;
        top: 58vw;
        left: 56vw;
      }

      .cp91-10-text3 {
        font-size: 3vw;
        font-weight: 600;
        position: absolute;
        top: 163vw;
        left: 6vw;
        text-align: center;
        line-height: 3.5vw;
      }

      .cp91-10-text4 {
        font-size: 3vw;
        font-weight: 600;
        position: absolute;
        top: 163vw;
        left: 52vw;
        text-align: center;
        line-height: 3.5vw;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-11 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-11-img {
        width: 100%;
      }

      .cp91-11-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-11-title1 {
        width: 100%;
        font-size: 3.5vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 1.5vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-11-title2 {
        width: 100%;
        font-size: 1.8vw;
        font-weight: 400;
        color: #fff;
        position: absolute;
        top: 7vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-11 {
        width: 100vw;
        position: relative;
      }

      .cp91-11-img {
        width: 100%;
      }

      .cp91-11-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-11-title1 {
        width: 100%;
        font-size: 7vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 7vw;
      }

      .cp91-11-title2 {
        width: 100%;
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 21vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-12 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-12-img {
        width: 100%;
      }

      .cp91-12-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-12-title1 {
        font-size: 2vw;
        font-weight: 600;
        color: #fff;
        position: absolute;
        top: 11.5vw;
        left: 55vw;
      }

      .cp91-12-title2 {
        font-size: 2vw;
        font-weight: 600;
        color: #fff;
        position: absolute;
        top: 29vw;
        left: 30vw;
      }

      .cp91-12-title3 {
        font-size: 2vw;
        font-weight: 600;
        color: #fff;
        position: absolute;
        top: 48vw;
        left: 55vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-12 {
        width: 100vw;
        position: relative;
      }

      .cp91-12-img {
        width: 100%;
      }

      .cp91-12-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-12-title1 {
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 43vw;
        left: 64vw;
      }

      .cp91-12-title2 {
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 88vw;
        left: 13vw;
      }

      .cp91-12-title3 {
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 134vw;  
        left: 57vw;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-13 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-13-img {
        width: 100%;
      }

      .cp91-13-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-13-title1 {
        width: 52%;
        font-size: 3.5vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 2vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 4vw;
      }

      .cp91-13-title2 {
        width: 100%;
        font-size: 1.8vw;
        font-weight: 400;
        color: #fff;
        position: absolute;
        top: 11vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-13-text1 {
        width: 40%;
        font-size: 1vw;
        font-weight: 400;
        color: #fff;
        position: absolute;
        top: 45vw;
        left: 8vw;
        line-height: 1.3vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-13 {
        width: 100vw;
        position: relative;
      }

      .cp91-13-img {
        width: 100%;
      }

      .cp91-13-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-13-title1 {
        width: 82%;
        font-size: 6vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 7vw;
      }

      .cp91-13-title2 {
        width: 100%;
        font-size: 3.5vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 21vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }

      .cp91-13-text1 {
        width: 81%;
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 102vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 4vw;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-14 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-14-img {
        width: 100%;
      }

      .cp91-14-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-14-text1,
      .cp91-14-text3 {
        font-size: 4vw;
        font-weight: 800;
        color: #000;
        text-align: center;
      }

      .cp91-14-text2,
      .cp91-14-text4 {
        font-size: 2vw;
        font-weight: 600;
        color: #000;
        text-align: center;
      }

      .cp91-14-text1 {
        position: absolute;
        top: 8.5vw;
        left: 23vw;
      }

      .cp91-14-text2 {
        position: absolute;
        top: 14.5vw;
        left: 21vw;
      }

      .cp91-14-text3 {
        position: absolute;
        top: 19vw;
        left: 65.5vw;
      }

      .cp91-14-text4 {
        position: absolute;
        top: 24vw;
        left: 66vw;
      }

      .cp91-14-text5 {
        font-size: 1.1vw;
        font-weight: 600;
        position: absolute;
        top: 28vw;
        left: 76vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-14 {
        width: 100vw;
        position: relative;
      }

      .cp91-14-img {
        width: 100%;
      }

      .cp91-14-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-14-text1,
      .cp91-14-text3 {
        font-size: 10vw;
        font-weight: 700;
        color: #000;
        text-align: center;
      }

      .cp91-14-text2,
      .cp91-14-text4 {
        font-size: 5vw;
        font-weight: 600;
        color: #000;
        text-align: center;
      }

      .cp91-14-text1 {
        position: absolute;
        top: 25vw;
        left: 63.5vw;
      }

      .cp91-14-text2 {
        position: absolute;
        top: 40vw;
        left: 59vw;
      }

      .cp91-14-text3 {
        position: absolute;
        top: 12vw;
        left: 7vw;
      }

      .cp91-14-text4 {
        position: absolute;
        top: 24vw;
        left: 8vw;
      }

      .cp91-14-text5 {
        font-size: 3vw;
        position: absolute;
        top: 92vw;
        left: 27vw;
      }


      .img-pc {
        display: none;
      }
    }

    @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-15 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-15-img {
        width: 100%;
      }

      .cp91-15-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-15-title1 {
        font-size: 2.5vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 6vw;
        left: 17vw;
      }

      .cp91-15-title2 {
        font-size: 2.5vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 6vw;
        left: 60vw;
      }

      .cp91-15-text1,
      .cp91-15-text2,
      .cp91-15-text3,
      .cp91-15-text4,
      .cp91-15-text5,
      .cp91-15-text6 {
        font-size: 1vw;
        font-weight: 500;
        color: #fff;
        text-align: center;
      }

      .cp91-15-text1 {
        position: absolute;
        top: 25vw;
        left: 9vw;
        width: 13%;
        line-height: 1.3vw;
      }

      .cp91-15-text2 {
        position: absolute;
        top: 24.5vw;
        left: 27vw;
        width: 18%;
        line-height: 1.3vw;
      }

      .cp91-15-text3 {
        position: absolute;
        top: 40vw;
        left: 31.5vw;
      }

      .cp91-15-text4 {
        position: absolute;
        top: 25vw;
        left: 54vw;
        width: 17%;
        line-height: 1.3vw;
      }

      .cp91-15-text5 {
        position: absolute;
        top: 25vw;
        left: 75.5vw;
        width: 15%;
        line-height: 1.3vw;
      }

      .cp91-15-text6 {
        position: absolute;
        top: 38vw;
        left: 74vw;
        width: 15%;
        line-height: 1.3vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-15 {
        width: 100vw;
        position: relative;
      }

      .cp91-15-img {
        width: 100%;
      }

      .cp91-15-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-15-title1 {
        font-size: 7vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 14vw;
        left: 25vw;
        text-align: center;
      }

      .cp91-15-title2 {
        font-size: 7vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 128vw;
        left: 13vw;
        text-align: center;
      }

      .cp91-15-text1,
      .cp91-15-text2,
      .cp91-15-text3,
      .cp91-15-text4,
      .cp91-15-text5,
      .cp91-15-text6 {
        font-size: 3vw;
        font-weight: 400;
        color: #fff;
        text-align: center;
      }

      .cp91-15-text1 {
        position: absolute;
        top: 60vw;
        left: 10vw;
        width: 32%;
        line-height: 4vw;
      }

      .cp91-15-text2 {
        position: absolute;
        top: 58vw;
        left: 49vw;
        line-height: 4vw;
      }

      .cp91-15-text3 {
        position: absolute;
        top: 94vw;
        left: 59vw;
      }

      .cp91-15-text4 {
        position: absolute;
        top: 171vw;
        left: 5vw;
        width: 43%;
        line-height: 4vw;
      }

      .cp91-15-text5 {
        position: absolute;
        top: 173vw;
        left: 52vw;
        width: 43%;
        line-height: 4vw;
      }

      .cp91-15-text6 {
        position: absolute;
        top: 203vw;
        left: 49vw;
        width: 43%;
        line-height: 4vw;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-16 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-16-img {
        width: 100%;
      }

      .cp91-16-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-16-title1 {
        font-size: 3vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 10vw;
        left: 33vw;
      }

      .cp91-16-title2 {
        font-size: 3vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 31vw;
        left: 38vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-16 {
        width: 100vw;
        position: relative;
      }

      .cp91-16-img {
        width: 100%;
      }

      .cp91-16-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-16-title1 {
        font-size: 7vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 28vw;
        left: 12vw;
      }

      .cp91-16-title2 {
        font-size: 7vw;
        font-weight: 800;
        color: #fff;
        position: absolute;
        top: 60vw;
        left: 21vw;
      }

      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-17 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-17-img {
        width: 100%;
      }

      .cp91-17-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-17-text1,
      .cp91-17-text2,
      .cp91-17-text3 {
        font-size: 1vw;
        font-weight: 400;
        color: #fff;
        text-align: center;
      }

      .cp91-17-text4,
      .cp91-17-text5,
      .cp91-17-text6,
      .cp91-17-text7,
      .cp91-17-text8,
      .cp91-17-text9 {
        font-size: 1.2vw;
        font-weight: 400;
        color: #fff;
        text-align: center;
      }

      .cp91-17-text1 {
        position: absolute;
        top: 25vw;
        left: 48vw;
        line-height: 1.3vw;
      }

      .cp91-17-text2 {
        position: absolute;
        top: 25vw;
        left: 58.2vw;
        line-height: 1.3vw;
      }

      .cp91-17-text3 {
        position: absolute;
        top: 25vw;
        left: 68vw;
        line-height: 1.3vw;
      }

      .cp91-17-text4 {
        position: absolute;
        top: 52.2vw;
        left: 55.5vw;
      }

      .cp91-17-text5 {
        position: absolute;
        top: 54.5vw;
        left: 55.5vw;
      }

      .cp91-17-text6 {
        position: absolute;
        top: 56.7vw;
        left: 55.5vw;
      }

      .cp91-17-text7 {
        position: absolute;
        top: 58.8vw;
        left: 55.5vw;
      }

      .cp91-17-text8 {
        position: absolute;
        top: 61vw;
        left: 55.5vw;
      }

      .cp91-17-text9 {
        position: absolute;
        top: 63vw;
        left: 55.5vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-17 {
        width: 100vw;
        position: relative;
      }

      .cp91-17-img {
        width: 100%;
      }

      .cp91-17-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-17-text1,
      .cp91-17-text2,
      .cp91-17-text3 {
        font-size: 3vw;
        font-weight: 400;
        color: #fff;
        text-align: center;
        transform: scale(.6);
      }

      .cp91-17-text4,
      .cp91-17-text5,
      .cp91-17-text6,
      .cp91-17-text7,
      .cp91-17-text8,
      .cp91-17-text9 {
        font-size: 3vw;
        font-weight: 400;
        color: #fff;
        transform: scale(.7);
      }

      .cp91-17-text1 {
        position: absolute;
        top: 44vw;
        left: 49.5vw;
        line-height: 4vw;
      }

      .cp91-17-text2 {
        position: absolute;
        top: 44vw;
        left: 64vw;
        line-height: 4vw;
      }

      .cp91-17-text3 {
        position: absolute;
        top: 44vw;
        left: 77.5vw;
        line-height: 4vw;
      }

      .cp91-17-text4 {
        position: absolute;
        top: 95vw;
        left: 58.5vw;
      }

      .cp91-17-text5 {
        position: absolute;
        top: 98.5vw;
        left: 54vw;
      }

      .cp91-17-text6 {
        position: absolute;
        top: 102vw;
        left: 58vw;
      }

      .cp91-17-text7 {
        position: absolute;
        top: 105vw;
        left: 57.5vw;
      }

      .cp91-17-text8 {
        position: absolute;
        top: 109vw;
        left: 58vw;
      }

      .cp91-17-text9 {
        position: absolute;
        top: 112.5vw;
        left: 56.5vw;
      }


      .img-pc {
        display: none;
      }
    }

   @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-18 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-18-img {
        width: 100%;
      }

      .cp91-18-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-18-text1,
      .cp91-18-text2,
      .cp91-18-text3,
      .cp91-18-text4,
      .cp91-18-text5,
      .cp91-18-text6,
      .cp91-18-text7,
      .cp91-18-text8,
      .cp91-18-text9,
      .cp91-18-text10,
      .cp91-18-text11,
      .cp91-18-text12 {
        font-size: 1.2vw;
        font-weight: 400;
        color: #fff;
        text-align: center;
      }

      .cp91-18-text1 {
        position: absolute;
        top: 31.4vw;
        left: 25.5vw;
      }

      .cp91-18-text2 {
        position: absolute;
        top: 31.4vw;
        left: 50vw;
      }

      .cp91-18-text3 {
        position: absolute;
        top: 35.3vw;
        left: 25.5vw;
      }

      .cp91-18-text4 {
        position: absolute;
        top: 35.3vw;
        left: 50vw;
      }

      .cp91-18-text5 {
        position: absolute;
        top: 39.5vw;
        left: 25.5vw;
      }

      .cp91-18-text6 {
        position: absolute;
        top: 39.5vw;
        left: 50vw;
      }

      .cp91-18-text7 {
        position: absolute;
        top: 43.5vw;
        left: 25.5vw;
      }

      .cp91-18-text8 {
        position: absolute;
        top: 43.5vw;
        left: 50vw;
      }

      .cp91-18-text9 {
        position: absolute;
        top: 47.5vw;
        left: 25.5vw;
      }

      .cp91-18-text10 {
        position: absolute;
        top: 47.5vw;
        left: 50vw;
      }

      .cp91-18-text11 {
        position: absolute;
        top: 51.5vw;
        left: 25.5vw;
      }

      .cp91-18-text12 {
        position: absolute;
        top: 51.5vw;
        left: 50vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-18 {
        width: 100vw;
        position: relative;
      }

      .cp91-18-img {
        width: 100%;
      }

      .cp91-18-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-18-text1,
      .cp91-18-text2,
      .cp91-18-text3,
      .cp91-18-text4,
      .cp91-18-text5,
      .cp91-18-text6,
      .cp91-18-text7,
      .cp91-18-text8,
      .cp91-18-text9,
      .cp91-18-text10,
      .cp91-18-text11,
      .cp91-18-text12 {
        font-size: 2.6vw;
        font-weight: 400;
        color: #fff;
      }

      .cp91-18-text1 {
        position: absolute;
        top: 69vw;
        left: 11.5vw;
      }

      .cp91-18-text2 {
        position: absolute;
        top: 69vw;
        left: 48vw;
      }

      .cp91-18-text3 {
        position: absolute;
        top: 75.5vw;
        left: 11.5vw;
      }

      .cp91-18-text4 {
        position: absolute;
        top: 75.5vw;
        left: 48vw;
      }

      .cp91-18-text5 {
        position: absolute;
        top: 82vw;
        left: 11.5vw;
      }

      .cp91-18-text6 {
        position: absolute;
        top: 82vw;
        left: 48vw;
      }

      .cp91-18-text7 {
        position: absolute;
        top: 88.5vw;
        left: 11.5vw;
      }

      .cp91-18-text8 {
        position: absolute;
        top: 88.5vw;
        left: 48vw;
      }

      .cp91-18-text9 {
        position: absolute;
        top: 95vw;
        left: 11.5vw;
      }

      .cp91-18-text10 {
        position: absolute;
        top: 95vw;
        left: 48vw;
      }

      .cp91-18-text11 {
        position: absolute;
        top: 101.5vw;
        left: 11.5vw;
      }

      .cp91-18-text12 {
        position: absolute;
        top: 101.5vw;
        left: 48vw;
      }

      .img-pc {
        display: none;
      }
    }

  @media (min-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-19 {
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .cp91-19-img {
        width: 100%;
      }

      .cp91-19-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-19-title1 {
        font-size: 3vw;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: 19vw;
        left: 32vw;
      }

      .cp91-19-title2 {
        font-size: 2vw;
        color: #fff;
        position: absolute;
        top: 24vw;
        left: 38vw;
      }

      .img-mb {
        display: none;
      }
    }

    @media (max-width: 750px) {
      * {
        margin: 0;
        padding: 0;
      }

      .cp91-19 {
        width: 100vw;
        position: relative;
      }

      .cp91-19-img {
        width: 100%;
      }

      .cp91-19-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .cp91-19-title1 {
        font-size: 6vw;
        font-weight: 600;
        color: #fff;
        position: absolute;
        top: 53vw;
        left: 23vw;
      }

      .cp91-19-title2 {
        font-size: 4vw;
        color: #fff;
        position: absolute;
        top: 62vw;
        left: 29vw;
      }

      .img-pc {
        display: none;
      }
    }
</style>
<div>
<div class="cp91-1">
  <div class="cp91-1-img">
    <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-1.gif?v=1724206537" alt="" class="img-pc">
    <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-1.gif?v=1724206537" alt="" class="img-mb">
  </div>
</div>

<div class="cp91-2">
    <div class="cp91-2-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-2_3925b565-11f8-4e5d-9cfd-6fdde7d60e81.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-2_89575812-a265-4727-9429-6446dfa7274a.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-2-title1">The world's first and only wireless CarPlay</div>
    <div class="cp91-2-title2">adapter with Multi Functional Screen</div> -->
    <div class="cp91-2-title1">{{ section.settings.cp91-2-title1 }}</div>
    <div class="cp91-2-title2">{{ section.settings.cp91-2-title2 }}</div>
    <!-- <div class="cp91-2-title1">{{ 'cp91-detail.cp91-2-title1' | t }}</div> -->
    <!-- <div class="cp91-2-title2">{{ 'cp91-detail.cp91-2-title2' | t }}</div> -->
  </div>

  <div class="cp91-3">
    <div class="cp91-3-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-3_cd3961fe-b64b-46c0-ae4a-33afcb9693eb.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-3_8707b0fd-3c9f-4838-92bc-87463cdb571e.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-3-title1">Current driving experience</div>
    <div class="cp91-3-text1">Driving with Factory/OEM car radio & navigation<br>feels like navigating with a brick</div>
    <div class="cp91-3-text2">Wired CarPlay<br>Means Fussing with<br>Cables</div>
    <div class="cp91-3-text3">Boring to drive</div>
    <div class="cp91-3-text4">Unpleasant smell</div> -->
    <div class="cp91-3-title1">{{ section.settings.cp91-3-title1 }}</div>
    <div class="cp91-3-text1">{{ section.settings.cp91-3-text1 }}</div>
    <div class="cp91-3-text2">{{ section.settings.cp91-3-text2 }}</div>
    <div class="cp91-3-text3">{{ section.settings.cp91-3-text3 }}</div>
    <div class="cp91-3-text4">{{ section.settings.cp91-3-text4 }}</div>
  </div>

  <div class="cp91-4">
    <div class="cp91-4-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-4_1c015bcb-6b7a-425d-8743-ffa43bfb46d7.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-4_e1668ccb-c31a-4872-8e2c-bd37de6647a1.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-4-title1">No more bulky baggage.</div>
    <div class="cp91-4-title2">Because life is too short for inconveniences.</div> -->
    <div class="cp91-4-title1">{{ section.settings.cp91-4-title1 }}</div>
    <div class="cp91-4-title2">{{ section.settings.cp91-4-title2 }}</div>
  </div>

  <div class="cp91-5">
    <div class="cp91-5-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-5_e2006185-ef90-4e4c-9ba5-bc251842909f.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-5_aa01dd17-5d4c-4efe-b011-7705273e9377.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-5-title1">Enjoy Wireless CarPlay Like Never Before</div>
    <div class="cp91-5-title2">A new visual screen tailored</div>
    <div class="cp91-5-text1">Wired To Wireless CarPlay Adapter</div>
    <div class="cp91-5-text2">Multi Functional Screen</div>
    <div class="cp91-5-text3">Vent Clips for Car</div>
    <div class="cp91-5-text4">Car Diffuser</div> -->
    <div class="cp91-5-title1">{{ section.settings.cp91-5-title1 }}</div>
    <div class="cp91-5-title2">{{ section.settings.cp91-5-title2 }}</div>
    <div class="cp91-5-text1">{{ section.settings.cp91-5-text1 }}</div>
    <div class="cp91-5-text2">{{ section.settings.cp91-5-text2 }}</div>
    <div class="cp91-5-text3">{{ section.settings.cp91-5-text3 }}</div>
    <div class="cp91-5-text4">{{ section.settings.cp91-5-text4 }}</div>
  </div>

  <div class="cp91-6">
    <div class="cp91-6-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-6_5fc27ed4-491b-48af-80b3-0b5290afcb70.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-6_72e47bd5-b3cf-435f-844a-859a4667375e.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-6-title1">Comparing the tech space </div>
    <div class="cp91-6-text1">Ottocast<br>CarPlayClip</div>
    <div class="cp91-6-text2">Other<br>Adapters</div>
    <div class="cp91-6-text3">1.6" Screen</div>
    <div class="cp91-6-text4">360 Vent Clips<br>Diffuser</div>
    <div class="cp91-6-text5">No latency<br>wireless CarPlay</div>
    <div class="cp91-6-text6">Stable<br>Connection</div>
    <div class="cp91-6-text7">Ease of use</div> -->
    <div class="cp91-6-title1">{{ section.settings.cp91-6-title1 }}</div>
    <div class="cp91-6-text1">{{ section.settings.cp91-6-text1 }}</div>
    <div class="cp91-6-text2">{{ section.settings.cp91-6-text2 }}</div>
    <div class="cp91-6-text3">{{ section.settings.cp91-6-text3 }}</div>
    <div class="cp91-6-text4">{{ section.settings.cp91-6-text4 }}</div>
    <div class="cp91-6-text5">{{ section.settings.cp91-6-text5 }}</div>
    <div class="cp91-6-text6">{{ section.settings.cp91-6-text6 }}</div>
    <div class="cp91-6-text7">{{ section.settings.cp91-6-text7 }}</div>
  </div>

  <div class="cp91-7">
    <div class="cp91-7-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-7_7d9f2f99-ff79-4dd2-800c-de2eb2c880a0.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-7_cf033a92-46d5-475e-b228-766988985518.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-7-title1">Wireless CarPlay Adapter</div>
    <div class="cp91-7-title2">Upgrade Your Wired CarPlay to Wireless</div> -->
    <div class="cp91-7-title1">{{ section.settings.cp91-7-title1 }}</div>
    <div class="cp91-7-title2">{{ section.settings.cp91-7-title2 }}</div>
  </div>

  <div class="cp91-8">
    <div class="cp91-8-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-8_20fc750f-9c3c-4e20-98c7-0f34157e7de5.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-8_8fa14f8a-049c-4d9d-85ce-c008d240fc96.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-8-title1">1.6" Multi Functional Screen</div>
    <div class="cp91-8-text1">Music Album Cover Display</div>
    <div class="cp91-8-text2">Digital Car Vent Clock</div>
    <div class="cp91-8-text3">Personalized Car Photo Frames</div> -->
    <div class="cp91-8-title1">{{ section.settings.cp91-8-title1 }}</div>
    <div class="cp91-8-text1">{{ section.settings.cp91-8-text1 }}</div>
    <div class="cp91-8-text2">{{ section.settings.cp91-8-text2 }}</div>
    <div class="cp91-8-text3">{{ section.settings.cp91-8-text3 }}</div>
  </div>

  <div class="cp91-9">
    <div class="cp91-9-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-9_5c33f8ff-bc7f-4911-92f4-917beeb239fc.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-9_36753815-a899-4256-ada2-d02216f2a796.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-9-title1">Treasure every moment in your journey</div> -->
    <div class="cp91-9-title1">{{ section.settings.cp91-9-title1 }}</div>
  </div>

  <div class="cp91-10">
    <div class="cp91-10-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-10_bbb6dced-6e0d-4565-a9ae-1cbc59e759bd.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-10_f46dc4ab-0e1c-4a9c-b3fc-c35d2bd07eba.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-10-title1">Add In-Car Fragrance Design-Better Looking, Better smelling.</div>
    <div class="cp91-10-title2">Add a touch of style and a refreshing scent with our in-car fragrance design-enhancing
      both form and function.</div>
    <div class="cp91-10-text1">Oceanic</div>
    <div class="cp91-10-text2">Citrusy</div>
    <div class="cp91-10-text3">"360-degree no-dead-angle<br>air conditioner clip design"</div>
    <div class="cp91-10-text4">"The design includes a space<br>for placing a fragrance ring<br>to enhance your comfort."</div> -->
    <div class="cp91-10-title1">{{ section.settings.cp91-10-title1 }}</div>
    <div class="cp91-10-title2">{{ section.settings.cp91-10-title2 }}</div>
    <div class="cp91-10-text1">{{ section.settings.cp91-10-text1 }}</div>
    <div class="cp91-10-text2">{{ section.settings.cp91-10-text2 }}</div>
    <div class="cp91-10-text3">{{ section.settings.cp91-10-text3 }}</div>
    <div class="cp91-10-text4">{{ section.settings.cp91-10-text4 }}</div>
  </div>

  <div class="cp91-11">
    <div class="cp91-11-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-11_fd8bc69b-1198-4001-97ef-4fead6f2e2b4.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-11_edc09444-4a26-4eb0-b3cd-93078f587915.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-11-title1">Exceptional Quality Performance</div>
    <div class="cp91-11-title2">Connection is fast and stable</div> -->
    <div class="cp91-11-title1">{{ section.settings.cp91-11-title1 }}</div>
    <div class="cp91-11-title2">{{ section.settings.cp91-11-title2 }}</div>
  </div>

  <div class="cp91-12">
    <div class="cp91-12-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-12_95de143e-c428-4a71-9a77-bee7b008d821.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-12_c7883fc1-c04f-407b-8b99-8365c509ee27.jpg?v=1724481697" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-12-title1">Album Cover</div>
    <div class="cp91-12-title2">Digital Clock</div>
    <div class="cp91-12-title3">Digital Picture Frame</div> -->
    <div class="cp91-12-title1">{{ section.settings.cp91-12-title1 }}</div>
    <div class="cp91-12-title2">{{ section.settings.cp91-12-title2 }}</div>
    <div class="cp91-12-title3">{{ section.settings.cp91-12-title3 }}</div>
  </div>

  <div class="cp91-13">
    <div class="cp91-13-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-13_87b2730a-0c1b-4030-acf2-3986409c6d91.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-13_b1b52956-dc06-4208-b31b-e92eb99171fe.jpg?v=1724481697" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-13-title1">Let's start customizing your one-of-a-kind design</div>
    <div class="cp91-13-title2">Switch the homepage with a single tap.</div>
    <div class="cp91-13-text1">The OttoPilot app lets you personalize your car display with your own covers, featuring
      your life, family, and moments.lt also shows the clock,enhances your car's information, and allows you to change
      the album cover with the music you're playing.</div> -->
    <div class="cp91-13-title1">{{ section.settings.cp91-13-title1 }}</div>
    <div class="cp91-13-title2">{{ section.settings.cp91-13-title2 }}</div>
    <div class="cp91-13-text1">{{ section.settings.cp91-13-text1 }}</div>
  </div>

  <div class="cp91-14">
    <div class="cp91-14-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-14_7ec00fc9-f7d0-499d-a043-fc67ffaaf0ca.jpg?v=1724481026" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-14_9d27040d-24db-4303-9cb2-6bc6e8ce00e0.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-14-text1">360<sup>0</sup></div>
    <div class="cp91-14-text2">VENT CLIPS</div>
    <div class="cp91-14-text3">30 DAYS</div>
    <div class="cp91-14-text4">LONG LASTING</div>
    <div class="cp91-14-text5">Scents Diffuse</div> -->
    <div class="cp91-14-text1">{{ section.settings.cp91-14-text1 }}</div>
    <div class="cp91-14-text2">{{ section.settings.cp91-14-text2 }}</div>
    <div class="cp91-14-text3">{{ section.settings.cp91-14-text3 }}</div>
    <div class="cp91-14-text4">{{ section.settings.cp91-14-text4 }}</div>
    <div class="cp91-14-text5">{{ section.settings.cp91-14-text5 }}</div>
  </div>

   <div class="cp91-15">
    <div class="cp91-15-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-15_4643730c-3f90-4ae3-9054-2d25d6d0d4f7.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-15_59329fc5-6720-40a5-8031-f1fdee494322.jpg?v=1724481697" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-15-title1">Plug and Play</div>
    <div class="cp91-15-title2">Support OTA Update</div>
    <div class="cp91-15-text1">Insert the adapter into the USB interface</div>
    <div class="cp91-15-text2">Turn on phone's WiFi and bluetooth,search adapter's bluetooth,connect and pair</div>
    <div class="cp91-15-text3">Click "Use Carplay"</div>
    <div class="cp91-15-text4">Plug the adapter into a stable power supply source like a phone charger or computer USB port</div>
    <div class="cp91-15-text5">Connect the adapter's Bluetooth on iPhone</div>
    <div class="cp91-15-text6">Open the OttoPilot App,click "Firmware Update" and then find the update button</div> -->
    <div class="cp91-15-title1">{{ section.settings.cp91-15-title1 }}</div>
    <div class="cp91-15-title2">{{ section.settings.cp91-15-title2 }}</div>
    <div class="cp91-15-text1">{{ section.settings.cp91-15-text1 }}</div>
    <div class="cp91-15-text2">{{ section.settings.cp91-15-text2 }}</div>
    <div class="cp91-15-text3">{{ section.settings.cp91-15-text3 }}</div>
    <div class="cp91-15-text4">{{ section.settings.cp91-15-text4 }}</div>
    <div class="cp91-15-text5">{{ section.settings.cp91-15-text5 }}</div>
    <div class="cp91-15-text6">{{ section.settings.cp91-15-text6 }}</div>
  </div>

  <div class="cp91-16">
    <div class="cp91-16-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-16_11c59fb6-68b5-45ab-8414-0df691b6057d.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-16_c72722c2-46c3-4b77-946c-c558adc6cf4d.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-16-title1">Working Environment</div>
    <div class="cp91-16-title2">ALL COMPATIBLE</div> -->
    <div class="cp91-16-title1">{{ section.settings.cp91-16-title1 }}</div>
    <div class="cp91-16-title2">{{ section.settings.cp91-16-title2 }}</div>
  </div>

   <div class="cp91-17">
    <div class="cp91-17-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-17_d9e0cc99-3ec4-4e0a-b7cf-22a12efd7ac9.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-17_c7c20ebf-8533-447e-9f43-eacc757f4fff.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-17-text1">Breakdown<br>maintenance</div>
    <div class="cp91-17-text2">Customer<br>support</div>
    <div class="cp91-17-text3">Online<br>upgrade</div>
    <div class="cp91-17-text4">Vent Clips</div>
    <div class="cp91-17-text5">USB Plug Adapter(Type-A to C)</div>
    <div class="cp91-17-text6">Cable Clamp</div>
    <div class="cp91-17-text7">Scents Diffuser</div>
    <div class="cp91-17-text8">User Manual</div>
    <div class="cp91-17-text9">Product Packaging</div> -->
    <div class="cp91-17-text1">{{ section.settings.cp91-17-text1 }}</div>
    <div class="cp91-17-text2">{{ section.settings.cp91-17-text2 }}</div>
    <div class="cp91-17-text3">{{ section.settings.cp91-17-text3 }}</div>
    <div class="cp91-17-text4">{{ section.settings.cp91-17-text4 }}</div>
    <div class="cp91-17-text5">{{ section.settings.cp91-17-text5 }}</div>
    <div class="cp91-17-text6">{{ section.settings.cp91-17-text6 }}</div>
    <div class="cp91-17-text7">{{ section.settings.cp91-17-text7 }}</div>
    <div class="cp91-17-text8">{{ section.settings.cp91-17-text8 }}</div>
    <div class="cp91-17-text9">{{ section.settings.cp91-17-text9 }}</div>
  </div>

  <div class="cp91-18">
    <div class="cp91-18-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-18_cc7ac468-0274-444d-befc-c1ef565825e4.jpg?v=1724481027" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-18_81449f6a-002f-43b5-9374-f1b7e95b95ef.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-18-text1">CPU</div>
    <div class="cp91-18-text2">Dual-core 1.0 GHz ARM Cortex A7</div>
    <div class="cp91-18-text3">System</div>
    <div class="cp91-18-text4">Linux</div>
    <div class="cp91-18-text5">Wi-Fi</div>
    <div class="cp91-18-text6">2.4GHz + 5 GHZ</div>
    <div class="cp91-18-text7">Bluetooth</div>
    <div class="cp91-18-text8">BT 5.2</div>
    <div class="cp91-18-text9">Working Environment</div>
    <div class="cp91-18-text10">-20~75 </div>
    <div class="cp91-18-text11">Power input</div>
    <div class="cp91-18-text12">USB 5V</div> -->
    <div class="cp91-18-text1">{{ section.settings.cp91-18-text1 }}</div>
    <div class="cp91-18-text2">{{ section.settings.cp91-18-text2 }}</div>
    <div class="cp91-18-text3">{{ section.settings.cp91-18-text3 }}</div>
    <div class="cp91-18-text4">{{ section.settings.cp91-18-text4 }}</div>
    <div class="cp91-18-text5">{{ section.settings.cp91-18-text5 }}</div>
    <div class="cp91-18-text6">{{ section.settings.cp91-18-text6 }}</div>
    <div class="cp91-18-text7">{{ section.settings.cp91-18-text7 }}</div>
    <div class="cp91-18-text8">{{ section.settings.cp91-18-text8 }}</div>
    <div class="cp91-18-text9">{{ section.settings.cp91-18-text9 }}</div>
    <div class="cp91-18-text10">{{ section.settings.cp91-18-text10 }}</div>
    <div class="cp91-18-text11">{{ section.settings.cp91-18-text11 }}</div>
    <div class="cp91-18-text12">{{ section.settings.cp91-18-text12 }}</div>
  </div>

  <div class="cp91-19">
    <div class="cp91-19-img">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-pc2-19_98116386-6ec8-41e1-9300-b89a469ace7b.jpg?v=1724481026" alt="" class="img-pc">
      <img src="https://cdn.shopify.com/s/files/1/0268/6592/6342/files/cp91c-en-mb2-19_8d939e96-47e4-411f-ad9c-d9fae4589422.jpg?v=1724481696" alt="" class="img-mb">
    </div>
    <!-- <div class="cp91-19-title1">Ottocast CarPlayClip</div>
    <div class="cp91-19-title2">Turning Miles into Smiles</div> -->
    <div class="cp91-19-title1">{{ section.settings.cp91-19-title1 }}</div>
    <div class="cp91-19-title2">{{ section.settings.cp91-19-title2 }}</div>
  </div>
</div>
  

  

{% schema %}
{
  "name": "cp91-detail",
  "presets": [
  {
    "name": "cp91-detail"
  }
],
  "settings": [
    { "type": "textarea","id": "cp91-2-title1","label": "cp91-2-title1","default": "The world's first and only wireless CarPlay" },
    { "type": "textarea","id": "cp91-2-title2","label": "cp91-2-title2","default": "adapter with Multi Functional Screen" },
    
    { "type": "textarea","id": "cp91-3-title1","label": "cp91-3-title1","default": "Current driving experience"},
    { "type": "textarea","id": "cp91-3-text1","label": "cp91-3-text1","default": "Driving with Factory/OEM car radio & navigation<br>feels like navigating with a brick"},
    { "type": "textarea","id": "cp91-3-text2","label": "cp91-3-text2","default": "Wired CarPlay<br>Means Fussing with<br>Cables"},
    { "type": "textarea","id": "cp91-3-text3","label": "cp91-3-text3","default": "Boring to drive"},
    { "type": "textarea","id": "cp91-3-text4","label": "cp91-3-text4","default": "Unpleasant smell"},
    
    { "type": "textarea","id": "cp91-4-title1","label": "cp91-4-title1","default": "No more bulky baggage."},
    { "type": "textarea","id": "cp91-4-title2","label": "cp91-4-title2","default": "Because life is too short for inconveniences."},
    
    { "type": "textarea","id": "cp91-5-title1","label": "cp91-5-title1","default": "Enjoy Wireless CarPlay Like Never Before"},
    { "type": "textarea","id": "cp91-5-title2","label": "cp91-5-title2","default": "A new visual screen tailored"},
    { "type": "textarea","id": "cp91-5-text1","label": "cp91-5-text1","default": "Wired To Wireless CarPlay Adapter"},
    { "type": "textarea","id": "cp91-5-text2","label": "cp91-5-text2","default": "Multi Functional Screen"},
    { "type": "textarea","id": "cp91-5-text3","label": "cp91-5-text3","default": "Vent Clips for Car"},
    { "type": "textarea","id": "cp91-5-text4","label": "cp91-5-text4","default": "Car Diffuser"},
    
    { "type": "textarea","id": "cp91-6-title1","label": "cp91-6-title1","default": "Comparing the tech space " },
    { "type": "textarea","id": "cp91-6-text1","label": "cp91-6-text1","default": "Ottocast<br>CarPlayClip" },
    { "type": "textarea","id": "cp91-6-text2","label": "cp91-6-text2","default": "Other<br>Adapters" },
    { "type": "textarea","id": "cp91-6-text3","label": "cp91-6-text3","default": "1.6 inchs Screen" },
    { "type": "textarea","id": "cp91-6-text4","label": "cp91-6-text4","default": "360 Vent Clips<br>Diffuser" },
    { "type": "textarea","id": "cp91-6-text5","label": "cp91-6-text5","default": "No latency<br>wireless CarPlay" },
    { "type": "textarea","id": "cp91-6-text6","label": "cp91-6-text6","default": "Stable<br>Connection" },
    { "type": "textarea","id": "cp91-6-text7","label": "cp91-6-text7","default": "Ease of use" },
    
    { "type": "textarea","id": "cp91-7-title1","label": "cp91-7-title1","default": "Wireless CarPlay Adapter" },
    { "type": "textarea","id": "cp91-7-title2","label": "cp91-7-title2","default": "Upgrade Your Wired CarPlay to Wireless" },
    
    { "type": "textarea","id": "cp91-8-title1","label": "cp91-8-title1","default": "1.6 inchs Multi Functional Screen" },
    { "type": "textarea","id": "cp91-8-text1","label": "cp91-8-text1","default": "Music Album Cover Display" },
    { "type": "textarea","id": "cp91-8-text2","label": "cp91-8-text2","default": "Digital Car Vent Clock" },
    { "type": "textarea","id": "cp91-8-text3","label": "cp91-8-text3","default": "Personalized Car Photo Frames" },
    
    { "type": "textarea","id": "cp91-9-title1","label": "cp91-9-title1","default": "Treasure every moment in your journey" },
    
    { "type": "textarea","id": "cp91-10-title1","label": "cp91-10-title1","default": "Add In-Car Fragrance Design-Better Looking, Better smelling." },
    { "type": "textarea","id": "cp91-10-title2","label": "cp91-10-title2","default": "Add a touch of style and a refreshing scent with our in-car fragrance design-enhancing both form and function." },
    { "type": "textarea","id": "cp91-10-text1","label": "cp91-10-text1","default": "Oceanic" },
    { "type": "textarea","id": "cp91-10-text2","label": "cp91-10-text2","default": "Citrusy" },
    { "type": "textarea","id": "cp91-10-text3","label": "cp91-10-text3","default": "360-degree no-dead-angle<br>air conditioner clip design" },
    { "type": "textarea","id": "cp91-10-text4","label": "cp91-10-text4","default": "The design includes a space<br>for placing a fragrance ring<br>to enhance your comfort." },
    
    { "type": "textarea","id": "cp91-11-title1","label": "cp91-11-title1","default": "Exceptional Quality Performance" },
    { "type": "textarea","id": "cp91-11-title2","label": "cp91-11-title2","default": "Connection is fast and stable" },
    
    { "type": "textarea","id": "cp91-12-title1","label": "cp91-12-title1","default": "Album Cover" },
    { "type": "textarea","id": "cp91-12-title2","label": "cp91-12-title2","default": "Digital Clock" },
    { "type": "textarea","id": "cp91-12-title3","label": "cp91-12-title3","default": "Digital Picture Frame" },
    
    { "type": "textarea","id": "cp91-13-title1","label": "cp91-13-title1","default": "Let's start customizing your one-of-a-kind design" },
    { "type": "textarea","id": "cp91-13-title2","label": "cp91-13-title2","default": "Switch the homepage with a single tap." },
    { "type": "textarea","id": "cp91-13-text1","label": "cp91-13-text1","default": "The OttoPilot app lets you personalize your car display with your own covers, featuring your life, family, and moments.lt also shows the clock,enhances your car's information, and allows you to change the album cover with the music you're playing." },

    { "type": "textarea","id": "cp91-14-text1","label": "cp91-14-text1","default": "360<sup>0</sup>" },
    { "type": "textarea","id": "cp91-14-text2","label": "cp91-14-text2","default": "VENT CLIPS" },
    { "type": "textarea","id": "cp91-14-text3","label": "cp91-14-text3","default": "30 DAYS" },
    { "type": "textarea","id": "cp91-14-text4","label": "cp91-14-text4","default": "LONG LASTING" },
    { "type": "textarea","id": "cp91-14-text5","label": "cp91-14-text5","default": "Scents Diffuse" },

    { "type": "textarea","id": "cp91-15-title1","label": "cp91-15-title1","default": "Plug and Play" },
    { "type": "textarea","id": "cp91-15-title2","label": "cp91-15-title2","default": "Support OTA Update" },
    { "type": "textarea","id": "cp91-15-text1","label": "cp91-15-text1","default": "Insert the adapter into the USB interface" },
    { "type": "textarea","id": "cp91-15-text2","label": "cp91-15-text2","default": "Turn on phone's WiFi and bluetooth,search adapter's bluetooth,connect and pair" },
    { "type": "textarea","id": "cp91-15-text3","label": "cp91-15-text3","default": "Click Use Carplay" },
    { "type": "textarea","id": "cp91-15-text4","label": "cp91-15-text4","default": "Plug the adapter into a stable power supply source like a phone charger or computer USB port" },
    { "type": "textarea","id": "cp91-15-text5","label": "cp91-15-text5","default": "Connect the adapter's Bluetooth on iPhone" },
    { "type": "textarea","id": "cp91-15-text6","label": "cp91-15-text6","default": "Open the OttoPilot App,click Firmware Update and then find the update button" },

    { "type": "textarea","id": "cp91-16-title1","label": "cp91-16-title1","default": "Working Environment" },
    { "type": "textarea","id": "cp91-16-title2","label": "cp91-16-title2","default": "ALL COMPATIBLE" },

    { "type": "textarea","id": "cp91-17-text1","label": "cp91-17-text1","default": "Breakdown<br>maintenance" },
    { "type": "textarea","id": "cp91-17-text2","label": "cp91-17-text2","default": "Customer<br>support" },
    { "type": "textarea","id": "cp91-17-text3","label": "cp91-17-text3","default": "Online<br>upgrade" },
    { "type": "textarea","id": "cp91-17-text4","label": "cp91-17-text4","default": "Vent Clips" },
    { "type": "textarea","id": "cp91-17-text5","label": "cp91-17-text5","default": "USB Plug Adapter(Type-A to C)" },
    { "type": "textarea","id": "cp91-17-text6","label": "cp91-17-text6","default": "Cable Clamp" },
    { "type": "textarea","id": "cp91-17-text7","label": "cp91-17-text7","default": "Scents Diffuser" },
    { "type": "textarea","id": "cp91-17-text8","label": "cp91-17-text8","default": "User Manual" },
    { "type": "textarea","id": "cp91-17-text9","label": "cp91-17-text9","default": "Product Packaging" },

    { "type": "textarea","id": "cp91-18-text1","label": "cp91-18-text1","default": "CPU" },
    { "type": "textarea","id": "cp91-18-text2","label": "cp91-18-text2","default": "Dual-core 1.0 GHz ARM Cortex A7" },
    { "type": "textarea","id": "cp91-18-text3","label": "cp91-18-text3","default": "System" },
    { "type": "textarea","id": "cp91-18-text4","label": "cp91-18-text4","default": "Linux" },
    { "type": "textarea","id": "cp91-18-text5","label": "cp91-18-text5","default": "Wi-Fi" },
    { "type": "textarea","id": "cp91-18-text6","label": "cp91-18-text6","default": "2.4GHz + 5 GHZ" },
    { "type": "textarea","id": "cp91-18-text7","label": "cp91-18-text7","default": "Bluetooth" },
    { "type": "textarea","id": "cp91-18-text8","label": "cp91-18-text8","default": "BT 5.2" },
    { "type": "textarea","id": "cp91-18-text9","label": "cp91-18-text9","default": "Working Environment" },
    { "type": "textarea","id": "cp91-18-text10","label": "cp91-18-text10","default": "-20~75 " },
    { "type": "textarea","id": "cp91-18-text11","label": "cp91-18-text11","default": "Power input" },
    { "type": "textarea","id": "cp91-18-text12","label": "cp91-18-text12","default": "USB 5V" },

    { "type": "textarea","id": "cp91-19-title1","label": "cp91-19-title1","default": "Ottocast CarPlayClip" },
    { "type": "textarea","id": "cp91-19-title2","label": "cp91-19-title2","default": "Turning Miles into Smiles" },
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
