{% comment %}
  Custom section: Image Banner With Links | image-banner-with-links.liquid
{% endcomment %}

<div class="image-banner-with-links" id="{{ section.id }}">
  <div class="image-banner-with-links__wrapper">
    <div class="image-banner-with-links__container">
      
      <a href="{{ section.settings.banner_link }}" class="image-banner-with-links__left" style="background-image: url({{ section.settings.image | image_url }});">
        <div class="image-banner-with-links__overlay">
          {% if section.settings.heading != blank %}
            <h2 class="image-banner-with-links__heading" style="color: {{ section.settings.heading_color }}">{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.subtext != blank %}
            <p class="image-banner-with-links__subtext" style="color: {{ section.settings.subtext_color }}">{{ section.settings.subtext }}</p>
          {% endif %}
          <span class="image-banner-with-links__corner-arrow" style="border-color: {{ section.settings.button_color }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
              <path d="M12.1699 12.5L4.78977 12.4806V11.1053L9.94232 11.2409L4.16992 5.48789L5.15781 4.5L10.9302 10.253L10.814 5.10048H12.1699V12.5Z" fill="#ffffff"/>
            </svg>
          </span>
        </div>
      </a>

      <div class="image-banner-with-links__right">
        <ul class="image-banner-with-links__link-list">
          {% for block in section.blocks %}
            <li class="image-banner-with-links__link-item" {{ block.shopify_attributes }} id="{{ block.id }}">
              <a href="{{ block.settings.link }}" class="image-banner-with-links__link" style="color: {{ section.settings.link_color }}">
                <span class="image-banner-with-links__link-title">{{ block.settings.title }}</span>
                <span class="image-banner-with-links__arrow-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <path d="M12.1699 12.5L4.78977 12.4806V11.1053L9.94232 11.2409L4.16992 5.48789L5.15781 4.5L10.9302 10.253L10.814 5.10048H12.1699V12.5Z" fill="#636363"/>
                  </svg>
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

<style>
.image-banner-with-links__wrapper {
  max-width: 1608px;
  margin: 0 auto;
}

.image-banner-with-links__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
}

.image-banner-with-links__left {
  width: calc(50% - 12px);
  min-height: 550px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  text-decoration: none;
}

.image-banner-with-links__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}

.image-banner-with-links__heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 15px;
}

.image-banner-with-links__subtext {
  font-size: 18px;
  line-height: 1.5;
  max-width: 522px;
  margin-bottom: 25px;
}

.image-banner-with-links__corner-arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.image-banner-with-links__right {
  width: calc(50% - 12px);
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-banner-with-links__link-list {
  list-style: none;
  padding: 40px;
  margin: 0;
  width: 100%;
}

.image-banner-with-links__link-item {
  border-bottom: 1px solid #dcdcdc;
}

.image-banner-with-links__link-title {
  color: #636363;
  font-size: 24px;
  font-weight: 400;
}

.image-banner-with-links__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25.78px 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.image-banner-with-links__arrow-circle {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 989px) {
  .image-banner-with-links__container {
    flex-direction: column;
    gap: 20px;
  }

  .image-banner-with-links__left,
  .image-banner-with-links__right {
    width: 100%;
  }

  .image-banner-with-links__left {
    min-height: 293px;
    aspect-ratio: 344 / 293;
  }

  .image-banner-with-links__overlay {
    padding: 20px;
    align-items: left;
  }

  .image-banner-with-links__heading {
    font-size: 28px;
  }

  .image-banner-with-links__subtext  {
      max-width: 261px;
      font-size: 16px;
  }
  .image-banner-with-links__link-list {
    padding: 20px;
  }

  .image-banner-with-links__link {
    font-size: 16px;
  }
}
</style>

{% schema %}
{
  "name": "Image Banner With Links",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Left side background image"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Image banner link"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Have a question ?"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#ffffff"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subtext",
      "default": "Check out the most common questions our customers asked. Still have questions? Contact our customer support."
    },
    {
      "type": "color",
      "id": "subtext_color",
      "label": "Subtext color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Arrow box color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link text color (right side)",
      "default": "#2e2e2e"
    }
  ],
  "blocks": [
    {
      "type": "link_item",
      "name": "Link Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Warranty"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Image Banner With Links",
        "category": "Custom",
      "blocks": [
        {
          "type": "link_item",
          "settings": {
            "title": "Warranty"
          }
        },
        {
          "type": "link_item",
          "settings": {
            "title": "Shipping Policy"
          }
        },
        {
          "type": "link_item",
          "settings": {
            "title": "Return Policy"
          }
        },
        {
          "type": "link_item",
          "settings": {
            "title": "Privacy Policy"
          }
        },
        {
          "type": "link_item",
          "settings": {
            "title": "Terms"
          }
        }
      ]
    }
  ]
}
{% endschema %}
