{{ 'section-info.css' | asset_url | stylesheet_tag }}

{% style %}
.section_width_standard,
.section_width_full {
transition: all 0.3s ease;
}
.section_width_full {
width: 100%;
}

.section_width_standard {
margin: 0 auto;
width: 90%;
}
{% endstyle %}

<div class="section info-section section_width_{{ section.settings.section_width }}" style="padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px; margin: {{ section.settings.margin_top }}px {{ section.settings.margin_right }}px {{ section.settings.margin_bottom }}px {{ section.settings.margin_left }}px 
        --info-section-bg: {{ section.settings.bg }};
        --info-section-text-color: {{ section.settings.text_color }};
    "
>
  <div class="info-section-wrapper section-{{section.id}}">
    <div class="info-section__inner">
      <div class="info-section__header-icon">
        {{ section.settings.icon }}
        {% comment %} <p class="info-section__title hide-medium hide-large-up">{{ section.settings.title }}</p> {% endcomment %}
      </div>
      <div class="info-section__header">
        <p class="info-section__title">{{ section.settings.title }}</p>
        <p class="info-section__desc">{{ section.settings.description }}</p>
      </div>
    </div>
    {%- if section.settings.button_text != blank -%}
      {% render 'button',
        content: section.settings.button_text,
        href: section.settings.url,
        size: section.settings.size,
        style: section.settings.style,
        background: section.settings.background,
        text_color: section.settings.btn_text_color
      %}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Info section",
  "settings": [
     {
  "type": "select",
  "id": "section_width",
  "label": "Section Width",
  "default": "standard",
  "options": [
    {
      "value": "standard",
      "label": "50% Width"
    },
    {
      "value": "full",
      "label": "Full Width"
    }
  ]
},
{"type": "range", "id": "padding_top", "label": "Padding top", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {"type": "range", "id": "padding_bottom", "label": "Padding bottom", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {"type": "range", "id": "padding_left", "label": "Padding left", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {"type": "range", "id": "padding_right", "label": "Padding right", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {"type": "range", "id": "margin_top", "label": "Margin top", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {"type": "range", "id": "margin_bottom", "label": "Margin bottom", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {"type": "range", "id": "margin_left", "label": "Margin left", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {"type": "range", "id": "margin_right", "label": "Margin right", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px"},
    {
      "type": "html",
      "id": "icon",
      "label": "SVG icon",
      "info": "Paste svg code in here"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Not Sure What Otto Fits you Best?"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "about quiz"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#221551"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Container background",
      "default": "#E5E1E6"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "fill",
          "label": "Fill"
        }
      ],
      "default": "fill"
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "base",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X-Large"
        }
      ],
      "default": "lg"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Text",
      "default": "try it now"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Button Background"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Button text color"
    }
  ],
  "presets": [
    {
      "name": "Info section",
      "category": "Somos Custom"
    }
  ]
}
{% endschema %}
