{{ 'section-info.css' | asset_url | stylesheet_tag }}

<div class="section info-section section_width_{{ section.settings.section_width }}" style="
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
    margin: {{ section.settings.margin_top }}px {{ section.settings.margin_right }}px {{ section.settings.margin_bottom }}px {{ section.settings.margin_left }}px;
    --info-section-bg: {{ section.settings.bg }};
    --info-section-text-color: {{ section.settings.text_color }};
">
  <div class="info-section-wrapper section-{{ section.id }}">
    <div class="info-section__inner">
      <div class="info-section__header-icon">
  {% if section.settings.icon != blank %}
    <img src="{{ section.settings.icon | image_url }}" alt="Icon" />
  {% endif %}
</div>
      <div class="info-section__header">
        <p class="info-section__title">{{ section.settings.title }}</p>
        <p class="info-section__desc">{{ section.settings.description }}</p>
      </div>
    </div>
    {%- if section.settings.button_text != blank -%}
      <a href="{{ section.settings.url }}"
   class="button button--{{ section.settings.style }} button--{{ section.settings.size }}"
   style="background-color: {{ section.settings.background }}; color: {{ section.settings.btn_text_color }};">
  {{ section.settings.button_text }}
  <span class="button-icon" aria-hidden="true" style="margin-left: 0.5em;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
      <path d="M12 4.5L11.9806 11.8801H10.6053L10.7409 6.7276L4.98789 12.5L4 11.5121L9.75303 5.73971L4.60048 5.85593V4.5L12 4.5Z" fill="#C6C6C6"/>
    </svg>
  </span>
</a>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Info section",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "50% Width"
        },
        {
          "value": "full",
          "label": "Full Width"
        }
      ]
    },
    { "type": "range", "id": "padding_top", "label": "Padding top", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    { "type": "range", "id": "padding_bottom", "label": "Padding bottom", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    { "type": "range", "id": "padding_left", "label": "Padding left", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    { "type": "range", "id": "padding_right", "label": "Padding right", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    { "type": "range", "id": "margin_top", "label": "Margin top", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    { "type": "range", "id": "margin_bottom", "label": "Margin bottom", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    { "type": "range", "id": "margin_left", "label": "Margin left", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    { "type": "range", "id": "margin_right", "label": "Margin right", "min": 0, "max": 100, "step": 5, "default": 0, "unit": "px" },
    {
  "type": "image_picker",
  "id": "icon",
  "label": "Icon image"
},
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Not Sure What Otto Fits you Best?"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "about quiz"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#221551"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Container background",
      "default": "#E5E1E6"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "fill",
          "label": "Fill"
        }
      ],
      "default": "fill"
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "base",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X-Large"
        }
      ],
      "default": "lg"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Text",
      "default": "try it now"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Button Background"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Button text color"
    }
  ],
  "presets": [
    {
      "name": "Info section",
      "category": "Somos Custom"
    }
  ]
}
{% endschema %}
