{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "newsletter-section-wrapper",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Join Our Newsletter"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Be the first to know about product launches and all things inside Sylvox."
    },
    {
      "type": "image_picker",
      "id": "envelope_icon",
      "label": "Envelope Icon"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Sign Up"
    },
    {
      "type": "image_picker",
      "id": "button_arrow_icon",
      "label": "Button Arrow Icon"
    },
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Bottom Right Overlay Image"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Somos Custom"
    }
  ]
}
{% endschema %}


<section
  class="newsletter-section-wrapper"
  {% if section.settings.background_image != blank %}
    style="background-image: url({{ section.settings.background_image | image_url }});"
  {% endif %}
>
  <div class="newsletter-section">
    <div class="newsletter-content">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.subheading }}</p>
      <form method="post" action="/contact#contact_form" accept-charset="UTF-8" class="newsletter-form" id="contact_form">
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
        {% if section.settings.envelope_icon != blank %}
          <img class="icon" src="{{ section.settings.envelope_icon | image_url }}" alt="Email Icon">
        {% endif %}
        <input type="email" name="contact[email]" placeholder="{{ section.settings.email_placeholder }}" required>
        <button type="submit">
          {{ section.settings.button_label }}
          {% if section.settings.button_arrow_icon != blank %}
            <img src="{{ section.settings.button_arrow_icon | image_url }}" alt="Arrow Icon">
          {% endif %}
        </button>
      </form>
    </div>
    {% if section.settings.overlay_image != blank %}
      <img class="overlay-image" src="{{ section.settings.overlay_image | image_url }}" alt="Overlay Image">
    {% endif %}
  </div>
</section>
