{% # components v3.0.1 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
{%- comment -%}
  Renders a testimonials section.

  Accepts:
  - title {string} - The title of the section
  - align_text {'left'|'center'|'right'} - The alignment of the text
  - round_images {boolean} - Whether to round the images
  - color_scheme {'none'|'1'|'2'|'3'} - The color scheme of the section
  - hydration {string} - The hydration strategy for the section

  Usage:
  {% render 'section-testimonials' %}
{%- endcomment -%}

{% stylesheet %}
.testimonials-section .flickity-page-dots {
    position: unset !important;
    width: 10%;
    padding: 0;
    margin: 0 auto !important;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.testimonials-section .flickity-page-dots .dot.is-selected {
  width: 72px;
height: 8px;
border-radius: 20px;
background: rgba(0, 0, 0, 0.10);
    opacity: 1;
    background-color: transparent;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;
}
{% endstylesheet %}

{%- liquid
  assign align_text = align_text | default: section.settings.align_text | default: 'center'
  assign round_images = round_images | default: section.settings.round_images, allow_false: true | default: true, allow_false: true
  assign title = title | default: section.settings.title
  assign color_scheme = color_scheme | default: section.settings.color_scheme
  assign hydration = hydration | default: 'on:idle'

  unless color_scheme
    assign class_name = 'testimonials-' | append: section.id
    render 'color-scheme-override', class_name: class_name
  endunless
-%}

<is-land {{ hydration }}>
  <testimonials-component
    class="testimonials-section testimonials-{{ section.id }} text-{{ align_text }} color-scheme-{{ color_scheme }} section_width_{{ section.settings.section_width }}"
    section-id="{{ section.id }}"
  >
    {%- if color_scheme != 'none' -%}
      {%- render 'color-scheme-texture', color_scheme: color_scheme -%}
    {%- endif -%}

    {%- if title != blank -%}
      <div class="section_content_width_{{ section.settings.section_content_width }}">
        <div class="" style="text-align: center;">
          <h2 >{{ title | escape }}</h2>
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="slideshow-wrapper">
        <div
          class="testimonials-slider"
          id="Testimonials-{{ section.id }}"
          data-dots="true"
          data-count="{{ section.blocks.size }}"
        >
          {%- for block in section.blocks -%}
            <div
              class="testimonials-slide testimonials-slide--{{ block.id }}"
              data-index="{{ forloop.index0 }}"
              {{ block.shopify_attributes }}
            >
              <blockquote class="testimonials-slider__text">
                {%- if block.settings.icon == 'quote' -%}
                  <span class="quote-icon">{% render 'icon', name: 'quote' %}</span>
                {%- elsif block.settings.icon == '5-stars' -%}
                  <span class="testimonial-stars">
                    {% for i in (1..5) %}
                      {% render 'default.icons', name: 'star-4-points' %}
                    {% endfor %}
                  </span>
                {%- elsif block.settings.icon == '4-stars' -%}
                  <span class="testimonial-stars">
                    {% for i in (1..4) %}
                      {% render 'default.icons', name: 'star-4-points' %}
                    {% endfor %}
                  </span>
                {%- elsif block.settings.icon == '3-stars' -%}
                  <span class="testimonial-stars">
                    {% for i in (1..3) %}
                      {% render 'default.icons', name: 'star-4-points' %}
                    {% endfor %}</span>
                {%- elsif block.settings.icon == '2-stars' -%}
                  <span class="testimonial-stars">
                    {% for i in (1..2) %}
                      {% render 'default.icons', name: 'star-4-points' %}
                    {% endfor %}</span>
                {%- elsif block.settings.icon == '1-star' -%}
                  <span class="testimonial-stars">
                    {% render 'default.icons', name: 'star-4-points' %}
                  </span>
                {%- endif -%}

                {%- if block.settings.testimonial != blank -%}
                  <div class="rte-setting text-spacing">{{ block.settings.testimonial }}</div>
                {%- endif -%}

                {%- if block.settings.image != blank -%}
                  <div class="testimonial-image{% if round_images %} testimonial-image--round{% endif %}">
                    <div
                      class="image-wrap text-spacing"
                      {% if round_images == false %}
                        style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;"
                      {% endif %}
                    >
                      {%- liquid
                        if round_images
                          assign sizeVariable = '65px'
                        else
                          assign sizeVariable = '142px'
                        endif

                        assign fallback = sizeVariable
                      -%}
                      {%- render 'image-element',
                        img: block.settings.image,
                        sizeVariable: sizeVariable,
                        fallback: fallback,
                        widths: '180, 360, 540, 720'
                      -%}
                    </div>
                  </div>
                {%- endif -%}

                {%- if block.settings.author != blank -%}
                  <cite>{{ block.settings.author | escape }}</cite>
                {%- endif -%}
                {%- if block.settings.author_info != blank -%}
                  <div class="testimonials__info">{{ block.settings.author_info | escape }}</div>
                {%- endif -%}
              </blockquote>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </testimonials-component>

  <template data-island>
    <script type="module">
      import 'components/section-testimonials'
    </script>
  </template>
</is-land>


{% schema %}
{
"name": "t:labels.testimonials",
"max_blocks": 9,
"settings": [
    { "type": "select", "id": "section_width", "label": "Section Width", "default": "standard", "options": [ { "value": "standard", "label": "Standard" }, { "value": "full", "label": "Full Width" } ] },
    { "type": "select", "id": "section_content_width", "label": "Content Width", "default": "standard", "options": [ { "value": "standard", "label": "Standard" }, { "value": "full", "label": "Full Width" } ] },
  {
    "type": "text",
    "id": "title",
    "label": "t:labels.heading",
    "default": "From our customers"
  },
  {
    "type": "select",
    "id": "align_text",
    "label": "t:labels.text_alignment",
    "default": "center",
    "options": [
      {
        "value": "left",
        "label": "t:labels.alignments.left"
      },
      {
        "value": "center",
        "label": "t:labels.alignments.centered"
      },
      {
        "value": "right",
        "label": "t:labels.alignments.right"
      }
    ]
  },
  {
    "type": "checkbox",
    "id": "round_images",
    "label": "t:labels.circular_images",
    "info": "t:info.requires_square_images",
    "default": true
  },
  {
    "type": "select",
    "id": "color_scheme",
    "label": "t:labels.color_scheme",
    "default": "none",
    "options": [
      {
        "value": "none",
        "label": "t:labels.none"
      },
      {
        "value": "1",
        "label": "1"
      },
      {
        "value": "2",
        "label": "2"
      },
      {
        "value": "3",
        "label": "3"
      }
    ]
  }
],
"blocks": [
  {
    "type": "testimonial",
    "name": "t:labels.testimonial",
    "settings": [
      {
        "type": "select",
        "id": "icon",
        "label": "t:labels.icon",
        "default": "5-stars",
        "options": [
          {
            "value": "none",
            "label": "t:labels.none"
          },
          {
            "value": "quote",
            "label": "t:labels.quote"
          },
          {
            "value": "5-stars",
            "label": "t:labels.stars.5_stars"
          },
          {
            "value": "4-stars",
            "label": "t:labels.stars.4_stars"
          },
          {
            "value": "3-stars",
            "label": "t:labels.stars.3_stars"
          },
          {
            "value": "2-stars",
            "label": "t:labels.stars.2_stars"
          },
          {
            "value": "1-star",
            "label": "t:labels.stars.1_star"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "testimonial",
        "label": "t:labels.text",
        "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:labels.authors_image"
      },
      {
        "type": "text",
        "id": "author",
        "label": "t:labels.author",
        "default": "Author's name"
      },
      {
        "type": "text",
        "id": "author_info",
        "label": "t:labels.author_info",
        "default": "Los Angeles, CA"
      }
    ]
  }
],
"presets": [
  {
    "name": "t:labels.testimonials",
    "blocks": [
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      }
    ]
  }
],
"disabled_on": {
  "groups": ["footer", "header", "custom.popups"]
}
}
{% endschema %}
