{{ 'section-timeline-journey.css' | asset_url | stylesheet_tag }}

<div {% render 'section-properties' %}>

    <p class="timeline-journey__subheading">{{ section.settings.subheading }}</p>
    <h3 class="timeline-journey__heading">{{ section.settings.heading }}</h3>

    <div class="timeline-journey__items">


        {% for block in section.blocks %}

            <div class="timeline-journey__item" {{ block.shopify_attributes }}>
                <div class="timeline-journey__year">{{ block.settings.year }}</div>
                <div class="timeline-journey__content">

                    <h4 class="timeline-journey__title">{{ block.settings.title }}</h4>
                    {% if block.settings.desc %}
                        <div class="timeline-journey__desc">{{ block.settings.desc }}</div>
                    {% endif %}

                    {% if block.settings.image %}
                       <img class="timeline-journey__img" src="{{ block.settings.image | image_url }}" alt="{{ block.settings.title }}" loading="lazy">
                    {% endif %}
                    
                </div>
            </div>
            
        {% endfor %}
    



    </div>

</div>

{% schema %}
{
  "name": "Timeline journey",
  "class": "timeline-journey",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "TIMELINE"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Journey"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Timeline journey item",
      "settings": [
        {
            "type": "text",
            "id": "year",
            "label": "Year"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Timeline journey"
    }
  ]
}
{% endschema %}
